<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>

	<!-- Modal -->
	<div th:fragment="modal-form" class="modal fade" id="modal-animal"
		tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-lg"
			role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">Editar
						Cliente</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<span th:text="${erro}" id="msg-erro"></span>
					<form th:action="@{/pacientes/salvar}" method="POST"
						enctype="multipart/form-data" th:object="${animal}" id="formA">
						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="nome">Nome do paciente</label> <input type="text"
									class="form-control" id="nome" placeholder="Taz..."
									autofocus="autofocus" th:field="*{nome}"
									th:classappend="${#fields.hasErrors('nome')} ? 'is-invalid'" />
								<div class="invalid-feedback">
									<span th:errors="*{nome}"></span>
								</div>
							</div>
							<div class="form-group col-md-4">
								<label for="cliente">Dono</label> <select
									th:classappend="${#fields.hasErrors('cliente')} ? 'is-invalid'"
									id="cliente" class="form-control" th:field=*{cliente}>
									<option value="">Selecione</option>
									<option th:each="c : ${clientes}" th:value="${c.id}"
										th:text="${c.nome}">Mauricio</option>
								</select>
								<div class="invalid-feedback">
									<span th:errors="*{cliente}"></span>
								</div>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-4">
								<label for="datePickerId">Selecione a data da consulta</label> <input
									class="form-control" type="date" id="datePickerId"
									th:classappend="${#fields.hasErrors('dataNascimento')} ? 'is-invalid'"
									th:field="*{dataNascimento}" />
								<div class="invalid-feedback">
									<span th:errors="*{dataNascimento}"></span>
								</div>
							</div>
							<div class="form-group col-md-4">
								<label for="sexo">Sexo</label> <select
									th:classappend="${#fields.hasErrors('sexo')} ? 'is-invalid'"
									id="sexo" class="form-control" th:field=*{sexo}>
									<option value="">Selecione</option>
									<option th:value="Macho" th:text="Macho"></option>
									<option th:value="Fêmea" th:text="Fêmea"></option>
								</select>
								<div class="invalid-feedback">
									<span th:errors="*{sexo}"></span>
								</div>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-4">
								<label for="especie">Espécie</label> <input type="text"
									class="form-control" id="especie" placeholder="Canino..."
									th:classappend="${#fields.hasErrors('especie.nome')} ? 'is-invalid'"
									th:field="*{especie.nome}" />
								<div class="invalid-feedback">
									<span th:errors="*{especie.nome}"></span>
								</div>
							</div>

							<div class="form-group col-md-4">
								<label for="raca">Raça</label> <input type="text"
									class="form-control" id="raca" placeholder="Labrador..."
									onfocus="mudar();"
									th:classappend="${#fields.hasErrors('raca.nome')} ? 'is-invalid'"
									th:field="*{raca.nome}" />
								<div class="invalid-feedback">
									<span th:errors="*{raca.nome}"></span>
								</div>

							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="alergias">Alergias</label>
								<textarea class="form-control" id="alergias"
									autofocus="autofocus" th:field="*{alergias}"
									th:classappend="${#fields.hasErrors('alergias')} ? 'is-invalid'"></textarea>
								<div class="invalid-feedback">
									<span th:errors="*{alergias}"></span>
								</div>
							</div>
							<div class="form-group col-md-4">
								<div th:each="c: ${caracteristicas}">
									<input type="checkbox"  th:value="${c}"  th:field="*{caracteristicas}">
									
									<label th:text="${c}"></label>
								</div>
								

							</div>
							
						</div>
						<div class="form-row">
							<label for="file">Foto</label> <input type="file" id="file"
								th:name="file">
						</div>
						<input type="hidden" id="id" th:field="*{id}" /> <input
							type="hidden" id="id-foto" th:field="*{foto.id}" />
						<button type="submit" class="btn btn-primary btn-sm">Salvar</button>
					</form>
				</div>

			</div>
		</div>
	</div>

</body>
</html>