<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
<style>
h2 {
	color: red
}

.layout-content span {
	color: indigo
}

.historico-novo {
	width: 50%;
	background-color: #3ffc7e;
	margin-top: 20px
}

.historico-editado {
	width: 50%;
	background-color: yellow;
	margin-top: 20px
}

.historico-editado-consulta {
	width: 50%;
	background-color: pink;
	margin-top: 20px
}

.historico-nova-consulta {
	width: 50%;
	background-color: blue;
	margin-top: 20px
}

.consulta {
	width: 100%;
	background-color: green;
	color: white;
	margin-top: 20px
}
</style>
</head>
<body>
	<div th:replace="fragments/alert :: alerta-sucesso"></div>
	<section class="layout-content" layout:fragment="corpo">

		<h2 th:text="${animal.nome}"></h2>
		<div th:if="${animal.foto.fileName == null}">
			<img alt="" th:src="@{/image/animal_default.jpg}"
				style="width: 200px; height: auto">
		</div>
		<div th:if="${animal.foto!= null && animal.foto.fileName != null}">
			<img alt="" th:src="@{${'/uploads/' + animal.foto.fileName}}"
				style="width: 200px; height: auto">
		</div>

		<span th:text="${animal.especie.nome}"></span> <span
			th:text="${#temporals.format(animal.dataNascimento, 'dd/MM/yyyy')}"></span>

		<span th:text="${animal.cliente.nome}"></span>
		<span th:text="${animal.cliente.email}"></span>
		<section>
			<div class="tabs tabs-style-flip">
				<nav>
					<ul>
						<li><a href="#section-flip-1" class="fas fa-file-medical-alt"><span>Histórico</span></a></li>
						<li><a href="#section-flip-2" class="fas fa-notes-medical"
							style="color: purple"><span>Consultas</span></a></li>

						<li><a href="#section-flip-3"><span>Exames</span></a></li>
						<li><a href="#section-flip-4"><span>Vacinas</span></a></li>
						
					</ul>
				</nav>
				<div class="content-wrap">
					
					<section id="section-flip-1">
						<div class="row">
							<div class="col">
								<div class="collapse" id="collapseData">
									<nav class="navbar navbar-light bg-light">
										<form class="form-inline" method="post"
											th:action="@{/pacientes/buscar/data/paciente/{id} (id=${animal.id})}">
											<input class="form-control mr-sm-2" type="date"
												aria-label="Search" th:name="teste" />
											<button class="btn btn-outline-success my-2 my-sm-0">Search</button>
										</form>
									</nav>

								</div>
							</div>
						</div>
						<p>

							<button class="btn btn-primary" type="button"
								data-toggle="collapse" data-target="#collapseTipo"
								aria-controls="collapseTipo">Tipos</button>
							<button class="btn btn-primary" type="button"
								data-toggle="collapse" data-target="#collapseData"
								aria-controls="collapseData">Datas</button>


						</p>
						<div class="row">
							<div class="col">
								<div class="collapse" id="collapseTipo">

									<nav class="navbar navbar-light bg-light">
										<form class="form-inline" method="post"
											th:action="@{/pacientes/buscar/tipo/paciente/{id} (id=${animal.id})}">
											<select class="form-control mr-sm-2" th:name="tipo"
												aria-label="Search">
												<option value="">Tipo</option>
												<option value="Dados">Dados</option>
												<option value="Mudar dados">Mudar dados</option>
												<option value="Nova consulta">Nova consulta</option>
												<option value="Alteração de consulta">Alteração de
													consulta</option>
											</select>
											<button class="btn btn-outline-success my-2 my-sm-0">Search</button>
										</form>
									</nav>

								</div>
							</div>
						</div>

						<div th:each="h: ${historico}">
							<div th:if="${h.tipo == 'Dados'}">
								<div class="historico-novo">
									<p>
										<span th:text="'Descrição: ' + ${h.descricao}"></span>
									</p>
									<p>
										<span th:text="'Tipo: ' + ${h.tipo}"></span>
									</p>
									<p>
										<span th:text="'Usuario: ' + ${h.usuario}"></span>
									</p>
									<p>
										<span
											th:text="'No dia : ' + ${#temporals.format(h.data, 'dd/MM/yyyy')} + ' às: ' + ${#temporals.format(h.hora, 'HH:mm')}"></span>
									</p>
								</div>

							</div>
							<div th:if="${h.tipo == 'Mudar dados'}">
								<div class="historico-editado">
									<p>
										<span th:text="'Descrição: ' + ${h.descricao}"></span>
									</p>
									<p>
										<span th:text="'Tipo: ' + ${h.tipo}"></span>
									</p>
									<p>
										<span th:text="'Usuario: ' + ${h.usuario}"></span>
									</p>
									<p>
										<span
											th:text="'No dia : ' + ${#temporals.format(h.data, 'dd/MM/yyyy')} + ' às: ' + ${#temporals.format(h.hora, 'HH:mm')}"></span>
									</p>
								</div>

							</div>
							<div th:if="${h.tipo == 'Nova consulta'}">
								<div class="historico-nova-consulta">
									<p>
										<span th:text="'Descrição: ' + ${h.descricao}"></span>
									</p>
									<p>
										<span th:text="'Tipo: ' + ${h.tipo}"></span>
									</p>
									<p>
										<span th:text="'Usuario: ' + ${h.usuario}"></span>
									</p>
									<p>
										<span
											th:text="'No dia : ' + ${#temporals.format(h.data, 'dd/MM/yyyy')} + ' às: ' + ${#temporals.format(h.hora, 'HH:mm')}"></span>
									</p>
								</div>

							</div>
							<div th:if="${h.tipo == 'Alteração de consulta'}">
								<div class="historico-editado-consulta">
									<p>
										<span th:text="'Descrição: ' + ${h.descricao}"></span>
									</p>
									<p>
										<span th:text="'Tipo: ' + ${h.tipo}"></span>
									</p>
									<p>
										<span th:text="'Usuario: ' + ${h.usuario}"></span>
									</p>
									<p>
										<span
											th:text="'No dia : ' + ${#temporals.format(h.data, 'dd/MM/yyyy')} + ' às: ' + ${#temporals.format(h.hora, 'HH:mm')}"></span>
									</p>
								</div>

							</div>
						</div>
					</section>
					<section id="section-flip-2">
						<div class="consulta" th:each="c: ${consulta}">
							<span th:text="${c.veterinario.nome}"></span> <span
								th:text="${c.data}"></span> <span th:text="${c.hora}"></span>
						</div>
					</section>
					<section id="section-flip-3">
						<p style="color: purple">3</p>
					</section>
					<section id="section-flip-4">
						<p style="color: purple">4</p>
					</section>
					
				</div>
				<!-- /content -->
			</div>
			<!-- /tabs -->
		</section>
	</section>
	<script th:src="@{/js/especie.js(v=${version})}" th:fragment="js"></script>
	<script th:inline="javascript" th:fragment="inlinescript"></script>
</body>
</html>
