<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}" class="no-js">
<head>
<meta charset="UTF-8" />
<style>
.separador {
	margin: 15px 0
}

.table td a {
	margin: 0 0 1% 0;
}

.table td:last-child, .table td:nth-child(5), #table-consultas td:nth-child(4), #table-consultas td:nth-child(6), #table-consultas td:nth-child(8), #table-consultas td:nth-child(7),
	#table-internacoes td:nth-child(6), #table-internacoes td:nth-child(7), #table-internacoes td:nth-child(4) {
	width: 5%
}

.consulta {
	width: 100%;
	background-color: green;
	color: white;
	margin-top: 20px
}

#mensagem {
	display: none;
	width: 100%;
	background-color: #50B969;
	padding: 20px;
	margin-top: 2%;
}

#mensagem span {
	color: white;
	font-weight: bold;
}

.historico-wraper {
	max-height: 600px;
	background-color: #f2f2f2;
	overflow: auto;
}
/* width */
#scrollbar::-webkit-scrollbar {
	width: 15px;
}

/* fundo*/
#scrollbar::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
#scrollbar::-webkit-scrollbar-thumb {
	background: #04D284;
}

/* Handle on hover */
#scrollbar::-webkit-scrollbar-thumb:hover {
	background: #17b679;
}

.is-invalid {
	border: 1px solid red;
	!
	important
}

.caracteristicas {
	display: inline;
	width: 10%;
}

.castrado, .bravo {
	font-size: 1.1em;
	padding: 5px;
	margin-left: 2%;
	width: 90px;
	border-radius: 3px;
	display: inline;
	float: left;
	text-align: center;
}

.castrado {
	background-color: orange;
	color: white
}

.bravo {
	background-color: red;
}

#wrapper-caracteristicas {
	display: block;
	margin-bottom: 2%;
	width: 300px
}

#wrapper-caracteristicas span {
	color: white;
}

.maneira {
	background-color: indigo
}
</style>
</head>
<body>

	<section class="layout-content" layout:fragment="corpo">
		<ul class="breadcrumb">
			<li><a th:href="@{/home}">Dashboard </a></li>
			<li><a th:href="@{/pacientes/listar}">Pacientes</a></li>
			<li class="active"><span th:text="${animal.nome}"></span></li>

		</ul>

		<div th:replace="fragments/alert :: alerta-sucesso"></div>
		<div class="align-h1">
			<h1 th:text="${animal.nome}"></h1>
			<a href="#" role="button" data-toggle="modal"
				data-target="#modal-animal"> <img th:src="@{/image/lapis.png}"
				style="width: 35px; height: auto;" />
			</a> <span th:replace="animal/modal :: modal-form"></span> <span
				th:replace="aplicacao/modal :: modal-form"></span> <span
				th:replace="internacao/modal-por-paciente :: modal-internacao-paciente"></span>
			<span
				th:replace="consulta/modal-consulta-paciente :: modal-consulta-paciente"></span>

		</div>

		<div class="global-color pacient">
			<div id="img-infs">
				<div th:if="${animal.foto.fileName == null}">
					<img alt="" th:src="@{/image/animal_default.jpg}"
						style="width: 120px; height: auto">
				</div>
				<div th:if="${animal.foto.fileName != null}">
					<img alt="" th:src="@{${'/uploads/' + animal.foto.fileName}}"
						style="width: 120px; height: auto">
				</div>


			</div>



			<section class="inf-content">

				<div class="alinha-dados">
					<strong>Nome:</strong>
					<p th:text="${animal.nome}"></p>
				</div>

				<div class="alinha-dados">
					<strong>Sexo: </strong>
					<p th:text="${animal.sexo}"></p>

				</div>

				<div class="alinha-dados">
					<strong>Espécie: </strong>
					<p th:text="${animal.especie.nome}"></p>
				</div>


				<div class="alinha-dados">
					<strong>Raça: </strong>
					<p th:text="${animal.raca.nome}"></p>

				</div>

			</section>

			<section class="inf-content">

				<div class="alinha-dados">
					<strong>Data de Nascimento:</strong>
					<p
						th:text="${#temporals.format(animal.dataNascimento, 'dd/MM/yyyy')}"></p>
				</div>


				<div class="alinha-dados">
					<strong>Nome do Dono:</strong>
					<p th:text="${animal.cliente.nome}"></p>
				</div>

				<div class="alinha-dados">
					<strong>E-mail do Dono:</strong>
					<p th:text="${animal.cliente.email}"></p>
				</div>


				<div th:if="${animal.alergias != ''}" class="alinha-dados">

					<strong>Alergia:</strong>
					<p th:text="${animal.alergias}"></p>

				</div>

				<div th:if="${animal.alergias == ''}" class="alinha-dados">

					<strong>Alergia:</strong>
					<p>Não possui</p>

				</div>


			</section>

			<section class="inf-content">
				<div id="wrapper-caracteristicas">
					<div th:if="${animal.status == 'Internado'}">
						<span class="bravo" th:text="${animal.status}"></span>
					</div>
					<div th:if="${animal.caracteristicas != null}">

						<div th:each="c: ${animal.caracteristicas}">
							<div th:switch="${c}">


								<div th:case="'Castrado'">
									<span th:class='castrado' th:text="${c}"></span>
								</div>
								<div th:case="'Bravo'" class="caracteristicas">
									<span th:class='bravo' th:text="${c}"></span>
								</div>

							</div>
						</div>



					</div>
				</div>
			</section>
		</div>
		<section>
			<div class="tabs tabs-style-flip">
				<nav>
					<ul>
						<li><a href="#section-flip-1"><i
								class="fas fa-file-medical-alt"></i>Histórico</a></li>
						<li><a href="#section-flip-2"><i
								class="fas fa-notes-medical"></i> Consultas</a></li>

						<li><a href="#section-flip-3"><i class="fas fa-heartbeat"></i>
								Internações</a></li>
						<li><a href="#section-flip-4"><i class="fas fa-syringe"></i>Imunizações</a></li>

					</ul>
				</nav>
				<div class="content-wqrap">

					<div class="content-wrap">

						<section id="section-flip-1">
							<h2 class="paciente-h2">Histórico do Paciente</h2>
							<p>

								<button class="btn btn-primary btn-historico" type="button"
									data-toggle="collapse" data-target="#collapseTipo"
									aria-controls="collapseTipo">Tipos</button>
								<button class="btn btn-primary btn-historico" type="button"
									data-toggle="collapse" data-target="#collapseData"
									aria-controls="collapseData">Datas</button>
								<a style="float:right;" class="a-down"
									th:href="@{/pacientes/download/historico/paciente/{id} (id=${animal.id})}"
									role="button"><i class="fas fa-download"></i></a>



							</p>
							<div class="row">
								<div class="col-md-6">
									<div class="collapse" id="collapseData">

										<form class="form-inline">
											<input class="form-control mr-sm-2" type="date"
												aria-label="Search" th:name="teste" id="data-busca" />

											<button id="reset"
												class="btn btn-outline-danger my-2 my-sm-0 mr-auto">Resetar</button>

										</form>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4 my-2">
									<div class="collapse" id="collapseTipo">

										<div class="forms-historico">
											<form>
												<select class="form-control mr-sm-2" th:name="tipo"
													aria-label="Search" id="tipo">
													<option value="">Mostrar Todos</option>
													<option value="Dados">Cadastro do Paciente</option>
													<option value="Mudar dados">Edição dos dados do
														paciente</option>
													<option value="Nova consulta">Cadastro de novas
														consultas</option>
													<option value="Alteração de consulta">Edição dos
														dados de consultas</option>
													<option value="Nova internação">Cadastro de novas
														internações</option>
													<option value="Alteração de internação">Edição dos
														dados de internações</option>
													<option value="Nova aplicacao">Cadastro de novas
														imunizações</option>
													<option value="Edicao de aplicacao">Edição de
														dados de imunizações</option>
												</select>
											</form>
										</div>

									</div>
								</div>
							</div>
							<div id="scrollbar" class="historico-wraper">
								<div id="mensagem">
									<span>Nenhum registro encontrado</span>
								</div>
								<div class="timeline" th:each="h: ${historico}">
									<div id="busca-estilo"></div>

									<div class="container-esquerdo left generico">
										<span th:text="${#temporals.format(h.data, 'dd/MM/yyyy')}"></span><br>
										<span th:text="${#temporals.format(h.hora, 'HH:mm')}"></span>
									</div>
									<div class="container-time right generico">



										<div class="content-1">
											<div
												th:class="${(h.tipo == 'Nova consulta' ? 'historico-nova-consulta ' : '') + 
							(h.tipo == 'Nova consulta' ? 'historico-nova-consulta ' : '') + 
							(h.tipo == 'Dados' ? 'historico-novo' : '') +
							(h.tipo == 'Mudar dados' ? 'historico-editado' : '') +
							(h.tipo == 'Alteração de consulta' ? 'historico-editado-consulta' : '') +
							(h.tipo == 'Nova internação' ? 'nova-internacao' : '') +
							(h.tipo == 'Alteração de internação' ? 'edit-internacao' : '') +
							(h.tipo == 'Nova aplicacao' ? 'nova-aplicacao' : '') + 
							(h.tipo == 'Edicao de aplicacao' ? 'edit-aplicacao' : '')}">
												<div class="content generico">
													<div class="titulo-historico">
														<div th:switch="${h.tipo}">
															<span th:case="'Dados'">Paciente Cadastrado</span> <span
																th:case="'Nova consulta'">Consulta Cadastrada</span> <span
																th:case="'Mudar dados'">Alteração em Paciente</span> <span
																th:case="'Alteração de consulta'">Alteração em
																Consulta</span> <span th:case="'Nova internação'">Internação
																Cadastrada</span> <span th:case="'Alteração de internação'">Alteração
																de Internação</span> <span th:case="'Nova aplicacao'">Imunização
																Cadastrada</span> <span th:case="'Edicao de aplicacao'">Alteração
																na Imunização</span>
														</div>

													</div>
													<p>
														<span id="quebra" style="display: block"
															th:utext="${#strings.replace(h.descricao, ';' , '<br>')}"></span>
														<span th:text="'Realizado por: ' + ${h.usuario}"></span>
													</p>


												</div>

											</div>
										</div>

									</div>
								</div>
							</div>
						</section>
						<section id="section-flip-2">

							<div class="container">

								<div class="row">
									<div class="col-md-12">


										<h2 class="paciente-h2">Consultas Cadastradas</h2>

										<table id="table-consultas"
											class="table table-sm table-striped nowrap table-pacient"
											style="width: 100%">
											<thead class="thead-dark">
												<tr>
													<th scope="col">Peso</th>
													<th scope="col">Temperatura</th>
													<th scope="col">Data</th>
													<th scope="col">Término</th>
													<th scope="col">Visualizar</th>
													<th scope="col">Download</th>
												</tr>
											</thead>
										</table>
									</div>
								</div>
								 <a
								class="a-down"
								th:href="@{/pacientes/download/consultas/paciente/{id} (id=${animal.id})}"
								role="button"><i class="fas fa-download"></i></a>
							</div>
							


						</section>
						<section id="section-flip-3">
							<div class="container">

								<div class="row">
									<div class="col-md-12">


										<h2 class="paciente-h2">Internações Cadastradas</h2>

										<table id="table-internacoes"
											class="table table-sm table-striped nowrap table-pacient"
											style="width: 100%">
											<thead class="thead-dark">
												<tr>
													<th scope="col">Status</th>
													<th scope="col">Admissão</th>
													<th scope="col">Alta</th>
													<th scope="col">Visualizar</th>
													<th scope="col">Download</th>
												</tr>
											</thead>
										</table>
									</div>
								</div>
								
							</div>

						</section>
						<section id="section-flip-4">
							<div class="container">

								<div class="row">
									<div class="col-md-12">
										<h2 class="paciente-h2">Aplicações Cadastradas</h2>

										<table id="table-aplicacoes"
											class="table table-sm table-striped nowrap table-pacient"
											style="width: 100%">
											<thead class="thead-dark">
												<tr>
													<th scope="col">Descrição</th>
													<th scope="col">Doses</th>
													<th scope="col">Data da Aplicação</th>
													<th scope="col">Próxima Aplicação</th>
	
												</tr>
											</thead>
										</table>
									</div>
								</div>
								 <a class="a-down"
									th:href="@{/pacientes/download/imunizacoes/paciente/{id} (id=${animal.id})}"
									role="button"><i class="fas fa-download"></i></a>
							</div>
						</section>





					</div>
					<!-- /content -->
				</div>
				<!-- /tabs -->

			</div>
			<!-- /tabs -->
		</section>
	</section>
	<script th:src="@{/js/animal.js(v=${version})}" th:fragment="js"></script>

	<script th:inline="javascript" th:fragment="inlinescript">
			$('#quebra').val().replace(/\n\r?/g, '<br />');
			var idAnimal = [[${animal.id != null ? animal.id : 0}]];
			var id= [[${animal.id}]];
			var nome = [[${animal.nome}]];
			var aplicacao = [[${aplicacao.id}]];
			var internacao = [[${internacao.id}]];
			var consulta = [[${consulta.id}]];
			var tipo = [[${historico}]];
			$(document).ready(function () {
				
				moment.locale('pt-BR');
			    var table = $('#table-aplicacoes').DataTable({
			    	"language":{
			    		"lengthMenu": "Mostrando _MENU_ registros por páginas",
			    		"zeroRecords": "Nenhum registro encontrado",
			            "info": "Mostrando página _PAGE_ de _PAGES_",
			            "infoEmpty": " ",
			            "search": "Pesquise: ",
			            "searchPlaceholder": "Descrição...",
			            "paginate": {
			                "first":      "Primeiro",
			                "last":       "Ultimo",
			                "next":       "Próximo",
			                "previous":   "Anterior"
			            } 
			    	},
			    	
			    	searching: true,
			    	lengthMenu: [5, 10],
			        processing: true,
			        serverSide: true,
			        responsive: true,
			        ajax: {
			       
			            url: '/aplicacoes/datatables/server/ '+idAnimal+'',
			            data: 'data',
			            vacina: 'vacina', 
			           
			        
			        },
			        
			        columns: [
			            {data: 'vacina.descricao'},
			            {data:'doses', render: function(data, type, row){
			            	if(row.doses == 0){
			            		return 'Anual';
			            	}
			            	return row.doses + ' de ' + row.vacina.doses;
			            	
			            }},
			            {data: 'dataAplicacao', render:
			                function( data ) {
			                    return moment(data).format('L');
			                }
			            },
			            {data: 'proximaAplicacao', render:
			                function( data ) {
			                    return moment(data).format('L');
			                }
			            },
			            
			     
			    
			        ]
			    });
			
			    
			  			
			}); 
			
			
			
			$(document).ready(function () {
			
				moment.locale('pt-BR');
			    var table = $('#table-internacoes').DataTable({
			    	"language":{
			    		"lengthMenu": "Mostrando _MENU_ registros por páginas",
			    		"zeroRecords": "Nenhum registro encontrado",
			            "info": "Mostrando página _PAGE_ de _PAGES_",
			            "infoEmpty": " ",
			            "search": "Pesquise: ",
			            "searchPlaceholder": "Paciente ou Status...",
			            "paginate": {
			                "first":      "Primeiro",
			                "last":       "Ultimo",
			                "next":       "Próximo",
			                "previous":   "Anterior"
			            } 
			    	},
			    	searching: true,
			    	lengthMenu: [5, 10],
			        processing: true,
			        serverSide: true,
			        responsive: true,
			        ajax: {
			            url: '/internacoes/datatables/server/' +idAnimal+'',
			            data: 'data'
			          
			      
	                	
			        },
			        columns: [
			        	{data: 'status', render :
			        		function(data, type, row){
			        		if(row.status == "Ativa"){
			        			return '<strong class = "ativa">'+ row.status +'</strong>';
			        		}else{
			        			return '<strong class = "encerrada">'+ row.status +'</strong>';
			        		}
			        	}
			        },
			         
			            {data: 'dataEntrada', render:
			                function( data ) {
			                    return moment(data).format('L');
			                }
			            },
			            {data: 'dataSaida', render:
			                function( data, type, row ) {
			            		if(row.dataSaida == null){
			            			return "Em andamento"
			            		}
			                    return moment(data).format('L');
			                }
			            },
			           
			           
			            {orderable: false,
			                data: 'id',
			                   "render": function(id) {
			                	   return '<a class="btn btn-sm btn-block btn-view" href="/internacoes/visualizar/'+ 
			                   	id +'" role="button"><i class="fas fa-glasses"></i></a>';
			                   }               
			               },
			               {orderable: false,
				                data: 'id',
				                   "render": function(id) {
				                	   return '<a class="btn btn-sm btn-block btn-down" href="/pacientes/download/internacao/'+ 
				                   	id +'" role="button"><i class="fas fa-download"></i></a>';
				                   }               
				               }, 
			        ]
			    });
			   
			    
			});    
			$(document).ready(function () {
				moment.locale('pt-BR');
			    var table = $('#table-consultas').DataTable({
			    	"language":{
			    		"lengthMenu": "Mostrando _MENU_ registros por páginas",
			    		"zeroRecords": "Nenhum registro encontrado",
			            "info": "Mostrando página _PAGE_ de _PAGES_",
			            "infoEmpty": " ",
			            "search": "Pesquise: ",
			            "searchPlaceholder": "Paciente...",
			            "paginate": {
			                "first":      "Primeiro",
			                "last":       "Ultimo",
			                "next":       "Próximo",
			                "previous":   "Anterior"
			            } 
			    	},
			    	searching: true,
			    	order: [ 0, "asc" ],
			    	lengthMenu: [5, 10],
			        processing: false,
			        serverSide: true,
			        responsive: true,
			        ajax: {
			            url: '/consultas/datatables/server/' +idAnimal+'',
			            data: 'data'
			        },
			        columns: [
			        	 {data: 'peso', render:
			        		 function(data){
			        		 	return data.toString().replace('.', ',');
			        	 	 }
			        	 },
			        	 {data: 'temperatura', render:
			        		 function(data){
			        		 	return data.toString().replace('.', ',');
			        	 	 }
			        	 },
			        	 {data: 'data', render:
			                function( data ) {
			                    return moment(data).format('L');
			                }
			            },
			            {data: 'termino', render:
			                function( data, type, row ) {
			            		if(row.termino == null){
			            			return "Não cadastrado";
			            		}
			                    return  moment(data, 'HH:mm:ss').format('HH:mm');
			                }
			            },
			           
			
			            {orderable: false,
			                data: 'id',
			                   "render": function(id) {
			                       return '<a class="btn btn-sm btn-block btn-view" href="/consultas/visualizar/'+ 
			                       	id +'" role="button"><i class="fas fa-glasses"></i></a>';
			                   }               
			               },
			               {orderable: false,
				                data: 'id',
				                   "render": function(id) {
				                	   return '<a class="btn btn-sm btn-block btn-down" href="/pacientes/download/consulta/'+ 
				                   	id +'" role="button"><i class="fas fa-download"></i></a>';
				                   }               
				               }, 
			        ]
			    });
			});  
			$(document).ready(function(){
				$('#tipo').on('change', function(){
					$("#busca-estilo").text("");
					$('div #busca-estilo').removeAttr('class');
					var tipo = $("#tipo option:selected").val();
					if(tipo !=""){
						$(".generico").hide();
						$("#mensagem").show();
						$("#busca-estilo").show();
						$.get( "/pacientes/buscar/tipo/" + tipo + "/paciente/" + id , function( result ) {
							corpo(result);
						})
					}else{
						$(".generico").show();
						$("#busca-estilo").hide();
						$("#mensagem").hide();
					}
				
				})
				$('#data-busca').on('change', function(){
					$("#busca-estilo").text("");
					$('div #busca-estilo').removeAttr('class');
					var data = $("#data-busca").val();
					if(data !=""){
						$(".generico").hide();
						$("#mensagem").show();
						$("#busca-estilo").show();
						$.get( "/pacientes/buscar/data/" + data + "/paciente/" + id , function( result ) {
							corpo(result);
						})
					}else{
						$(".generico").show();
						$("#busca-estilo").hide();
						$("#mensagem").hide();
					}
				
				})
				$("#reset").on('click', function(){
					$('#data-busca').val("");
					$(".generico").show();
					$("#busca-estilo").hide();
					$("#mensagem").hide();
				})
			})
			function corpo(result){
				
				$.each(result, function(k,v){
					var replace = v.descricao.toString().replace(/\;/g, '<br>')
					var titulo = "";
					
					$("#mensagem").hide();
					if(v.tipo == 'Alteração de internação' ){
						titulo = 'Alteração em Internação';
					}
					if(v.tipo == 'Nova internação' ){
						titulo = 'Internação Cadastrada';
					}
					if(v.tipo == 'Nova aplicacao' ){
						titulo = 'Imunização Cadastrada';
					}
					if(v.tipo == 'Edicao de aplicacao' ){
						titulo = 'Alteração em Imunização';
					}
					if(v.tipo == 'Dados' ){
						titulo = 'Paciente Cadastrado';
					}
					if(v.tipo == 'Mudar dados' ){
						titulo = 'Alteração em Paciente';
					}
					if(v.tipo == 'Nova consulta' ){
						titulo = 'Consulta Cadastrada';
					}
					if(v.tipo == 'Alteração de consulta' ){
						titulo = 'Alteração em consulta';
					}
					$("#busca-estilo").append('<div class="container-esquerdo esquerdo"><span>'+  moment(v.data).format('DD/MM/YYYY')+'</span><br><span>'+ moment(v.hora, 'HH:mm:ss').format('HH:mm')+
							'</span></div><div class = "container-time right"><div class="content"><div class="titulo-historico"><span>'+titulo+'</span></div>' +
					 '<p><span style="display:block">'+ replace +'</span>' +
					 '<span> Alteração feita por: '+ v.usuario +'</span></p>' +
					 '</div></div>'
					).hide().fadeIn('slow');
					

				
				})
			}
		
	</script>
</body>
</html>
