<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">
		<main role="main">
			<div class="album py-5 bg-light">
				<div class="container">

					<div class="row">
						<div class="col-md-12">

							<div th:replace="fragments/alert :: alerta-sucesso"></div>
							<h2>Usuários Cadastrados</h2>

							<table id="table-usuarios"
								class="table table-sm table-striped table-bordered nowrap"
								style="width: 100%">
								<thead class="thead-dark">
									<tr>
										<th scope="col">Nome de Usuário (email)</th>
										<th scope="col">Cadastro Ativo</th>
										<th scope="col">Perfis</th>
										<th scope="col">Credenciais</th>
										<th scope="col">Dados Pessoais</th>
									</tr>
								</thead>
							</table>
						</div>
					</div>
				</div>
				<a class="btn-cadastrar-usuario" href="#" role="button"
					data-toggle="modal" data-target="#modal-usuario">Novo usuário</a> <span
					th:replace="usuario/modal :: modal-form"></span>
			</div>
		</main>
	</section>
	<script th:src="@{/js/usuario.js(v=${version})}" th:fragment="js"></script>
	<script th:inline="javascript" th:fragment="inlinescript">
	var usuario = [[${usuario.id}]];
	$(document).ready(function() {
		if(usuario != null){
			$("#modal-usuario").modal('show');
			$(".modal-title").text("Editar Usuário");
		}
		if(usuario == null){
			$(".modal-title").text("Novo Usuário");
		}
		if ($("#msg-erro").html() != "") {
			$("#modal-usuario").modal('show');
			$("#msg-erro").css("color", "red");
			$(".is-invalid").css("border", "1px solid red");
		}

		$("#modal-usuario").on("hidden.bs.modal", function() {
			$(".is-invalid").removeClass("is-invalid").removeAttr('style');
			$("#msg-erro").hide();
			$("#modal-usuario").modal('hide');
			
		});
		
		$(".btn-cadastrar-usuario").on("click", function(){
			$(".form-control").val("");
			$(".modal-title").text("Novo Usuário");
		});
	})
	
	$('#perfis').ready(function(){
		var perfis = [[${usuario.perfis}]];
		$.each(perfis, function(k, v){
			$('#perfis option[value="'+ v.id + '"]').attr('selected', 'selected');
		})
	});
	
	</script>
</body>
</html>