<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>Clínica Spring Security ::: Login</title>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description"
	content="clínica médica com agendamento de consultas online" />
<link rel="icon" th:href="@{/image/favicon.ico}" />
<!-- Icons fontawesome -->
<link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
	crossorigin="anonymous" rel="stylesheet" />
<link
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css(v=${version}) }"
	rel="stylesheet" />
<style>
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media ( min-width : 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}


</style>

<!-- Custom styles for this template -->
<link th:href="@{/css/style-login.css(v=${version})}" rel="stylesheet" />
<script th:src="@{/webjars/jquery/jquery.min.js(v=${version}) }"></script>
<script
	th:src="@{/webjars/bootstrap/js/bootstrap.min.js(v=${version}) }"></script>
</head>
<body>
	<div id="mensagem">
		<div th:replace="fragments/alert :: alerta-sucesso"></div>
	</div>
	<img th:src="@{/image/vet-1.jpg}" class="img_login" />
	<form th:action="@{/u/p/nova/senha/}" th:object="${usuario}"
		class="form-signin was-validated form_login" method="POST">
		<div class="text-center mb-4">
		<h1>Login</h1>
			<img th:src="@{/image/logo.png}" class="logo"
				alt="Logo do Vet System." />
			<p class="p-login">Verifique seu e-mail para continuar!</p>
		</div>


		<div class="login">
			<div class="form-label-group">
				<label for="inputEmail" class="label-login">Email</label> <input
					type="email" id="inputEmail" class="input-login"
					placeholder="e-mail" th:field="*{email}" required autofocus />
					<i class="fas fa-envelope"></i>
				<div class="invalid-feedback"><span>Use seu email como login.</span></div>
			</div>
		</div>
		<div class="login">
			<div class="form-label-group">
				<label for="inputPassword" class="label-login">Nova Senha</label> <input
					type="password" id="inputPassword" class="input-login"
					placeholder="Senha" th:field="*{senha}" required />
					<i class="fas fa-lock"></i>
				<div class="invalid-feedback"><span>Digite uma nova senha.</span></div>
			</div>
		</div>
		<div class="login">
			<div class="form-label-group">
				<label for="inputCodigoVerificador" class="label-login">Código
					Verificador</label> <input type="text" id="inputCodigoVerificador"
					class="input-login" placeholder="Código"
					th:field="*{codigoVerificador}" required />
						<i class="fas fa-shield-alt"></i>
				<div class="invalid-feedback"><span>Insira o código que recebeu por
					e-mail.</span></div>
			</div>
		</div>
		<button class="btn-login btn-2 btn-2a" type="submit">Confirmar</button>
		<nav class="nav nav-pills flex-column flex-sm-row chave">
			<a class="flex-sm-fill text-sm-left nav-link text-decoration-none"
				th:href="@{/}"> <i class="fas fa-home"></i>&nbsp;Home
			</a>
		</nav>
	</form>
</body>
</html>
