<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>



  #calendar {
    max-width: 1100px;
    margin: 0 auto;
    color: black
  }
  #modal-agendamento-visualizar span, #modal-agendamento-visualizar div{
	color: indigo
  } 
 .visualizacao{
 	display: block
 } 
 .edicao{
 	display: none
 }
 .exclusao{
 	display: none
 }
 #paciente-nao-cadastrado{
 	display: none
 }
 #paciente-cadastrado{
 	display: block
 }
</style>
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">
	<div th:replace="fragments/alert :: alerta-sucesso"></div>
	<a class="btn-cadastrar-usuario" sec:authorize="hasAuthority('SECRETARIA')" href="#" role="button"
					data-toggle="modal" data-target="#modal-agendamento">Novo Evento</a> <span
					th:replace="agendamento/modal :: modal-form"></span>
					<span
					th:replace="agendamento/modal-visualizar :: modal-form"></span>
		<div id='calendar'></div>

	</section>
	<script th:src="@{/js/agendamento.js(v=${version})}" th:fragment="js"></script>
	<script th:inline="javascript" th:fragment="inlinescript">
      $(document).ready(function(){
    	  var veterinario = [[${veterinario.id}]];
    	  var secretaria = [[${secretaria.id}]];

    		  $("#animal, #animal-edicao").autocomplete({
    	  			source : function(request, response) {
    	  				$.ajax({
    	  					method : "GET",
    	  					url : "/pacientes/titulo",
    	  					data : {
    	  						termo : request.term
    	  					},
    	  					success : function(data) {
    	  		               var newArray = new Array();
    	  		               console.log(data)
    	  		               var i = 0;
    	  		                $.each(data, function (k,v) {
    	  		                    var newObject = {
    	  		                        label: v.nome + " (" + v.cliente.nome +")",
    	  		                    	value: v.nome
    	  		                    };
    	  		                    console.log(newObject)
    	  		                    newArray[i] = newObject;
    	  		                    i++;
    	  		                });

    	  		                response(newArray);
    	  						
    	  						
    	  					}
    	  				})
    	  			}
    	  	  }); 
    	 
    	
    	  $.getJSON('/agenda/todos', function(data){

    		  var calendarEl = document.getElementById('calendar');	
  			  var calendar = new FullCalendar.Calendar(calendarEl,  {
  		    	
  			      headerToolbar: {
  			        left: 'prev,next today',
  			        center: 'title',
  			        right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
  			      },
  			      locale: 'pt-br',
  			      navLinks: true, // can click day/week names to navigate views
  			      businessHours: true, // display business hours
  			      editable: true,
  			      selectable: true,
  			      
  			    eventClick: function(data) {
  			    	var inicio = moment(data.event.start).locale('pt-br').format('dddd, DD[/]MM[/]YYYY, [às] HH:mm');
  			    	var termino = moment(data.event.end).locale('pt-br').format('dddd, DD [de] MMMM [de] YYYY, [às] HH:mm');
  			    	var inicio_edt = moment(data.event.start).format('YYYY-MM-DDTHH:mm:ss.SSS');
  			    	var fim_edt = moment(data.event.end).format('YYYY-MM-DDTHH:mm:ss.SSS');
  			   		//apagar
  			   		$("#apagar_evento").attr("href", "/agenda/excluir/" + data.event.id);
  			    	//visualizacao
  			    	$("#visualizar-start").text("Início: " + inicio);
  			    	$("#visualizar-end").text("Término: " + termino);
  			    	$("#visualizar-veterinario").text("Veterinário: " +  data.event.extendedProps.veterinario);
  			    	$("#visualizar-title").text("Tipo do agendamento: " + data.event.title);
  			    	if(data.event.extendedProps.description != ""){
  			    		$("#visualizar-description").show();
  			    		 $("#visualizar-description").text("Anotações: " + data.event.extendedProps.description).append('<br>');
  			    		
  			    	}else{
  			    		$("#visualizar-description").hide();
  			    	}
  			    	$("#visualizar-secretaria").text("Agendamento realizado por: " + data.event.extendedProps.secretaria);
  			    
  			    	if(data.event.extendedProps.paciente != null){
  			    		$("#visualizar-cliente").show();
  			    		$("#visualizar-cliente").text("Cliente: " +  data.event.extendedProps.cliente);
  			    		$("#visualizar-paciente").text("Paciente: " + data.event.extendedProps.paciente);
  			    	}else{
  			    		$("#visualizar-cliente").hide();
  			    		$("#visualizar-paciente").text("Paciente: " + data.event.extendedProps.pacienteNaoCadastrado);
  			    	}
  			    	//edicao
  			    	
  			    		$("#id-edicao").val(data.event.id);
  	  			    	$("#tipo-edicao").val(data.event.title);
  	  			    	$("#inicio-edicao").val(inicio_edt);
  	  			    	$("#fim-edicao").val(fim_edt);
  	  			    	$("#color-edicao").val(data.event.backgroundColor);
  	  			    	$("#descricao-edicao").val(data.event.extendedProps.description);
  	  			    	$("#veterinario-edicao").val(data.event.extendedProps.veterinario);
  	  			    	$(".modal-title").text("Informações do Agendamento");
  	  			    	if(data.event.extendedProps.paciente != null){
  	  			    		$("#paciente-cadastrado-edicao").show();
  	  			    		$("#paciente-nao-cadastrado-edicao").hide();
  	  			    		$("#animal-edicao").val(data.event.extendedProps.paciente);
  	  			    	}else{
  	  			    		$("#paciente-cadastrado-edicao").hide();
  	  			    		$("#paciente-nao-cadastrado-edicao").show();
  	  			    		 $("#cadastrado-edicao").prop("checked", true);
  	  			    		$("#sem_cadastro-edicao").val(data.event.extendedProps.pacienteNaoCadastrado);
  	  			    	}
  			    	
  			    	
  			    	$("#modal-agendamento-visualizar").modal('show');
  			      
  			     
  			    },
  			 
  			   events: data
  				  
  				  
  			    });
  		    calendar.render();
 	   
    	  })
	   
	   
    	  })
    	   $("#cadastrado").on('change', function(){
    		  if($(this).is(':checked')){
    			  $('#paciente-cadastrado').hide(); 
      		      $('#paciente-nao-cadastrado').show();
      		      $('#animal').val("");
     		  }else{
     			 $('#paciente-cadastrado').show(); 
     		     $('#paciente-nao-cadastrado').hide();
     		     $('#sem_cadastro').val("");
     		  }  
    	   });
      $("#cadastrado-edicao").on('change', function(){
		  if($(this).is(':checked')){
			  $('#paciente-cadastrado-edicao').hide(); 
  		      $('#paciente-nao-cadastrado-edicao').show();
  		      $('#animal-edicao, #sem_cadastro-edicao').val("");
 		  }else{
 			 $('#paciente-cadastrado-edicao').show(); 
 		     $('#paciente-nao-cadastrado-edicao').hide();
 		     $('#animal-edicao, #sem_cadastro-edicao').val("");
 		  }  
	   });
    			  
    	   
    	  $("#edit-agendamento").on('click', function(){
    		  $('.visualizacao').slideToggle();
    		  $('.edicao').slideToggle();
    	  })
    	    $("#edit-excluir").on('click', function(){
    		  $('.visualizacao').slideToggle();
    		  $('.exclusao').slideToggle();
    	  })
    	   $("#cancela-edt").on('click', function(){
    		   $('.edicao').slideToggle();
    		   $('.visualizacao').slideToggle();
    		 
    	  })
    	   $("#cancela-exclusao").on('click', function(){
    		   $('.exclusao').slideToggle();
    		   $('.visualizacao').slideToggle();
    		 
    	  })
		  $("#modal-agendamento-visualizar").on("hidden.bs.modal", function(){
			 
			  $('.visualizacao').show();
			  $('.edicao').hide();
			  $('.exclusao').hide();
		  });
		  if($("#modal-agendamento .msg-erro").html() != "") {
				$("#modal-agendamento").modal('show');
				$("#modal-agendamento .msg-erro, #modal-agendamento .invalid-feedback span").css("color", "red");
				$("#modal-agendamento .is-invalid").css("border", "1px solid red");
				$(".modal-title").text("Novo Agendamento");
		  }
		  if($("#modal-agendamento-visualizar .msg-erro").html() != "") {
			 
				$("#modal-agendamento-visualizar .msg-erro, #modal-agendamento .invalid-feedback span").css("color", "red");
				$("#modal-agendamento-visualizar .is-invalid").css("border", "1px solid red");
				$(".modal-title").text("Informações do Agendamento");
		  }

			$("#modal-agendamento, #modal-agendamento-visualizar").on("hidden.bs.modal", function() {
				 $("#cadastrado-edicao, #cadastrado").prop("checked", false);
				$(".is-invalid").removeClass("is-invalid").removeAttr('style');
				$("#modal-agendamento .msg-erro, #modal-agendamento-visualizar .msg-erro").hide();
				
				
			});
			
			$(".btn-cadastrar-usuario").on("click", function(){
				$(".form-control").val("");
				$(".modal-title").text("Novo Agendamento");
			});
			$("#inicio, #fim, #inicio-edicao, #fim-edicao").on('change',function(){
				$("#veterinario, #veterinario-edicao").val("");
			})
			function mudar() {
				var fim = $("#fim").val();			
				var inicio = $("#inicio").val();
				var diaInicial = moment( $("#inicio").val()).weekday() + 1;
				var diaFinal = moment( $("#fim").val()).weekday() + 1;
				$("#veterinario").autocomplete({
					source : function(request, response) {
						$.ajax({
							method : "GET",
							url : "/veterinarios/titulo",
							data : {
								inicio : inicio,
								fim : fim,
								diaInicial : diaInicial,
								diaFinal : diaFinal,
								termo : request.term
							},
							success : function(data) {
								response(data);
							}
						})
					}
				})
			}
			function mudarEdit() {
				var fim = $("#fim-edicao").val();
				
				var inicio = $("#inicio-edicao").val();
				var diaInicial = moment( $("#inicio-edicao").val()).weekday() + 1;
				var diaFinal = moment( $("#fim-edicao").val()).weekday() + 1;
				$("#veterinario-edicao").autocomplete({
					source : function(request, response) {
						$.ajax({
							method : "GET",
							url : "/veterinarios/titulo",
							data : {
								inicio : inicio,
								fim : fim,
								diaInicial : diaInicial,
								diaFinal : diaFinal,
								termo : request.term
							},
							success : function(data) {
								response(data);
							}
						})
					}
				})
			}
 
  	
	</script>
	

</body>
</html>