<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
<style type="text/css">
.teste span {
	color: blue
}
</style>
</head>

<body>
	<section class="layout-content" layout:fragment="corpo">
		<div class="teste">
			<a class="btn-cadastrar-usuario" href="#" role="button"
					data-toggle="modal" data-target="#modal-secretaria">Editar Dados</a>
				<span
					th:replace="secretaria/modal :: modal-form"></span>
			<span th:text="${secretaria.nome}"></span> <span
				th:text="${secretaria.sexo}"></span>
		</div>

		<div th:if="${secretaria.foto.fileName == null}">
			<img alt="" th:src="@{/image/pessoa.png}"
				style="width: 200px; height: auto">
		</div>
		<div
			th:if="${secretaria.foto!= null && secretaria.foto.fileName != null}">
			<img alt="" th:src="@{${'/uploads/' + secretaria.foto.fileName}}"
				style="width: 200px; height: auto">
		</div>


	</section>

	<script th:src="@{/js/secretaria.js(v=${version})}" th:fragment="js"></script>
	<script th:inline="javascript" th:fragment="inlinescript">
	var sec = [[${secretaria.id}]];
	$(document).ready(function() {
		$(".btn-cadastrar-usuario").on('click',function(){
			$("#modal-secretaria").modal('show');
			$(".modal-title").text("Editar Dados");
		})
			
		if ($("#msg-erro").html() != "") {
			$("#modal-secretaria").modal('show');
			$("#msg-erro").css("color", "red");
			$(".is-invalid").css("border", "1px solid red");
		}

		$("#modal-secretaria").on("hidden.bs.modal", function() {
			$(".is-invalid").removeClass("is-invalid").removeAttr('style');
			$("#msg-erro").hide();
			$("#modal-secretaria").modal('hide');
			
		});
		if(sec == null){
			$("#modal-secretaria").modal({
				 backdrop: 'static',
				 keyboard: false
				 
			});
			$(".modal-title").text("Cadastramento de dados");
		}
	});
	</script>
</body>
</html>