<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}" class="no-js">
<head>
<meta charset="UTF-8" />
<style type="text/css">
.teste span {
	color: blue
}
</style>
</head>

<body>
	<section class="layout-content" layout:fragment="corpo">
		<ul class="breadcrumb">
			<li><a th:href="@{/home}">Dashboard </a></li>
			<li class="active">Meu Perfil</li>

		</ul>
		<div th:replace="fragments/alert :: alerta-sucesso"></div>
		<div class="align-h1">
			<h1>meu perfil</h1>
			<a href="#" role="button" data-toggle="modal"
				data-target="#modal-secretaria"> <img
				th:src="@{/image/lapis.png}" style="width: 35px; height: auto;" />
			</a>
		</div>
		<span th:replace="secretaria/modal :: modal-form"></span>
		<div class="global-color">
			<div id="img-infs">
				<img th:if="${secretaria.foto.fileName == null}"
					th:src="@{/image/ultrasound.svg}"
					style="width: 120px; height: auto; float: left" /> <img
					th:if="${secretaria.foto.fileName != null}"
					th:src="@{${'/uploads/' + secretaria.foto.fileName}}"
					style="width: 120px; height: auto; float: left" />
			</div>
			<section class="inf-content">
				<div class="alinha-dados">
					<strong>Nome: </strong>
					<p th:text="${secretaria.nome}"></p>
				</div>
				<div class="alinha-dados">
					<strong>Telefone: </strong>
					<p th:text="${secretaria.telefone}"></p>
				</div>

				<div class="alinha-dados">
					<strong>Email: </strong>
					<p th:text="${secretaria.usuario.email}"></p>
				</div>
			</section>
			<section class="inf-content">
				<div class="alinha-dados">
					<strong>Sexo: </strong>
					<p th:text="${secretaria.sexo}"></p>
				</div>
				<div class="alinha-dados">
					<strong>CPF: </strong>
					<p th:text="${secretaria.cpf}"></p>
				</div>
			</section>

		</div>


	</section>

	<script th:src="@{/js/secretaria.js(v=${version})}" th:fragment="js"></script>
	<script th:inline="javascript" th:fragment="inlinescript">
	var sec = [[${secretaria.id}]];
	$(document).ready(function() {
		$(".btn-cadastrar-usuario").on('click',function(){
			$("#modal-secretaria").modal('show');
			$(".modal-title").text("Editar Dados");
		})
			
		if ($("#msg-erro").html() != "") {
			$("#modal-secretaria").modal('show');
			$("#msg-erro").css("color", "red");
			$(".is-invalid").css("border", "1px solid red");
		}

		$("#modal-secretaria").on("hidden.bs.modal", function() {
			$(".is-invalid").removeClass("is-invalid").removeAttr('style');
			$("#msg-erro").hide();
			$("#modal-secretaria").modal('hide');
			
		});
		if(sec == null){
			$("#modal-secretaria").modal({
				 backdrop: 'static',
				 keyboard: false
				 
			});
			$(".modal-title").text("Cadastramento de dados");
		}
	});
	</script>
</body>
</html>