<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
<title>Vet System - Clientes</title>
<style type="text/css">
</style>
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">
		<main role="main">
			<ul class="breadcrumb">
				<li><a th:href="@{/home}">Dashboard </a></li>
				<li class="active">Clientes</li>

			</ul>
			<div class="container">

				<div class="row">
					<div class="col-md-12">

						<div th:replace="fragments/alert :: alerta-sucesso"></div>
						<h2 class="clientes-cadastrados">Clientes Cadastrados</h2>

						<table id="table-clientes-vet"
							class="table table-sm table-striped nowrap"
							style="width: 100%">
							<thead class="thead-dark">
								<tr>
									<th scope="col">Nome</th>
									<th scope="col">Email</th>
									<th scope="col">Telefone</th>
									<th scope="col">Visualizar</th>
								</tr>
							</thead>
						</table>

					</div>
				</div>
			</div>
			

		</main>
	</section>
	<script th:src="@{/js/cliente.js(v=${version})}" th:fragment="js"></script>
	<script th:inline="javascript" th:fragment="inlinescript">

	</script>
</body>
</html>