<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
<title>Vet System - Clientes</title>
<style type="text/css">
</style>
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">
		<main role="main">
			<ul class="breadcrumb">
				<li><a th:href="@{/home}">Dashboard </a></li>
				<li class="active">Clientes</li>

			</ul>
			<div class="container">

				<div class="row">
					<div class="col-md-12">

						<div th:replace="fragments/alert :: alerta-sucesso"></div>
						<h2 class="clientes-cadastrados">Clientes Cadastrados</h2>

						<table id="table-clientes"
							class="table table-sm table-striped nowrap"
							style="width: 100%">
							<thead class="thead-dark">
								<tr>
									<th scope="col">Nome</th>
									<th scope="col">Email</th>
									<th scope="col">Telefone</th>
									<th scope="col">Editar</th>
									<th scope="col">Excluir</th>
									<th scope="col">Visualizar</th>
								</tr>
							</thead>
						</table>

					</div>
				</div>
			</div>
			<a class="btn-cadastrar-usuario" href="#" role="button"
				data-toggle="modal" data-target="#modal-cliente">Novo cliente</a> <span
				th:replace="cliente/modal :: modal-form"></span>

		</main>
	</section>
	<script th:src="@{/js/cliente.js(v=${version})}" th:fragment="js"></script>
	<script th:inline="javascript" th:fragment="inlinescript">
		var cliente = [[${cliente.id}]];
		$(document).ready(function() {
			if(cliente != null){
				$("#modal-cliente").modal('show');
				$(".modal-title").text("Editar Cliente");
			}
			if(cliente == null){
				$(".modal-title").text("Novo Cliente");
			}
			if ($("#msg-erro").html() != "") {
				$("#modal-cliente").modal('show');
				$("#msg-erro, .invalid-feedback span").css("color", "red");
			}

			$("#modal-cliente").on("hidden.bs.modal", function() {
				$(".is-invalid").removeClass("is-invalid").removeAttr('style');
				$("#msg-erro").hide();
				$("#modal-cliente").modal('hide');
				
			});
			
			$(".btn-cadastrar-usuario").on("click", function(){
				$(".form-control").val("");
				$(".modal-title").text("Novo Cliente");
			});
			$('#confirm-modal').on('show.bs.modal', function(){
				$(".modal-title").text("Excluir Cliente");
				$('#subtitulo').text('Todos pacientes que este cliente é dono serão deletados!');
			})
		})
	</script>
</body>
</html>