<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
<style type="text/css">
.teste span {
	color: blue
}
</style>
</head>

<body>
	<section class="layout-content" layout:fragment="corpo">
	<ul class="breadcrumb">
			<li><a th:href="@{/home}">Dashboard </a></li>
			<li><a th:href="@{/clientes/listar}">Clientes</a></li>
			<li><a th:href="@{/clientes/visualizar/{id} (id=${cliente.id})}"><span th:text="${cliente.nome}"></span></a></li>

		</ul>
		<div class=teste>
			<span th:text="${cliente.nome}"></span> <span
				th:text="${cliente.endereco.cidade}"></span> <span
				th:text="${cliente.endereco.uf}"></span>

			<div th:each="a : ${animais}">
				<span th:text="${a.nome}"></span>

			</div>
		</div>

	</section>

	<script th:src="@{/js/cliente.js(v=${version})}" th:fragment="js"></script>
	<script th:inline="javascript" th:fragment="inlinescript"></script>
</body>
</html>