<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
<style type="text/css">
.teste span {
	color: blue
}
</style>
</head>

<body>
	<section class="layout-content" layout:fragment="corpo">
	<h1>Visualizar foto</h1>
	<div class="global-color">
			<div id="img-infs">
				<img width="120" height="auto" alt="" style="float:left;" th:src="@{${'/uploads/' + foto.fileName}}">
			</div>
			<section class="inf-content">
				<div class="alinha-dados" th:if="${foto.nome != ''}">
					<strong>Título da imagem: </strong>
					<p th:text="${foto.nome}"></p>
				</div>
				<div class="alinha-dados" th:if="${foto.nome == ''}">
					<strong>Título da imagem: </strong>
					<p th:text="${foto.fileName}"></p>
				</div>
				<div class="alinha-dados" th:if="${foto.data != null}">
					<strong>Data da imagem: </strong>
					<p th:text="${#temporals.format(foto.data, 'dd/MM/yyyy')}"></p>
				</div>
			</section>
	</div>
	<h2 class="h2-textarea">Descrição da imagem</h2>
	<div class="global-color">
			<section class="inf-content">
				<div class="alinha-dados area">
					<p th:if="${foto.descricao != ''}"
						style='white-space: pre-wrap' th:text="${foto.descricao}"></p>
					<p th:if="${foto.descricao == ''}">Nenhuma informação
						cadastrada.</p>
				</div>
			</section>
		</div>

	</section>

	<script th:src="@{/js/internacao.js(v=${version})}" th:fragment="js"></script>
	<script th:inline="javascript" th:fragment="inlinescript"></script>
</body>
</html>