<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="ISO-8859-1">
</head>
<body>
	<header th:fragment="cabecalho" class="header">
		<div class="bem-vindo-user">

			<div th:switch="${currentRole}" sec:authorize="isAuthenticated()">
				<div sec:authorize="hasAuthority('VETERINARIO')"
					th:if="${veterinario.nome != null}">
					<div th:if="${veterinario.sexo == 'Feminino'}">
						<span style="color: white; font-size: 20px; float: left">Bem
							vinda, <span class="" th:text="${veterinario.nome}"> </span>
						</span>
					</div>
					<div th:if="${veterinario.sexo == 'Masculino'}">
						<span style="color: white; font-size: 20px; float: left">Bem
							vindo, <span class="" th:text="${veterinario.nome}"> </span>
						</span>
					</div>

				</div>
				<div sec:authorize="hasAuthority('VETERINARIO')"
					th:if="${veterinario.nome == null}">
					<span style="color: white; font-size: 20px; float: left">Bem
						vindo(a), <span class="" sec:authentication="name"> </span>
					</span>
				</div>
				<div sec:authorize="hasAuthority('SECRETARIA')"
					th:if="${secretaria.nome != null}">
					<div th:if="${secretaria.sexo == 'Feminino'}">
						<span style="color: white; font-size: 20px; float: left">Bem
							vinda, <span class="" th:text="${secretaria.nome}"> </span>
						</span>
					</div>
					<div th:if="${secretaria.sexo == 'Masculino'}">
						<span style="color: white; font-size: 20px; float: left">Bem
							vindo, <span class="" th:text="${secretaria.nome}"> </span>
						</span>
					</div>

				</div>
				<div sec:authorize="hasAuthority('SECRETARIA')"
					th:if="${secretaria.nome == null}">
					<span style="color: white; font-size: 20px; float: left">Bem
						vindo(a), <span class="" sec:authentication="name"> </span>
					</span>
				</div>

				<div th:if="${veterinario == null && secretaria == null}">
					<span style="color: white; font-size: 20px; float: left">Bem
						vindo(a), <span class="" sec:authentication="name"> </span>
					</span>
				</div>
			</div>
		</div>

		<div class="user-menu">
			<form th:action="@{/logout}" sec:authorize="isAuthenticated()"
				method="post" class="form-inline mt-2 mt-md-0">
				<div class="btn-group mb-2 mr-sm-2">
					<button type="button" class="btn btn-light">
						<i class="fas fa-user"></i> <span class=""
							sec:authentication="name"> </span>
					</button>
					<button type="button"
						class="btn btn-danger dropdown-toggle dropdown-toggle-split"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					</button>
					<div class="dropdown-menu">
						<button type="submit" class="dropdown-item">Sair</button>
					</div>
				</div>
			</form>
		</div>
	</header>
</body>
</html>