<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
<style type="text/css">
</style>
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">
		<main role="main">
			<ul class="breadcrumb">
				<li><a th:href="@{/home}">Dashboard </a></li>
				<li class='active'>Consultas</li>
			</ul>
				<div class="container">

					<div class="row">
						<div class="col-md-10">

							<div th:replace="fragments/alert :: alerta-sucesso"></div>
							<h2 class="consultas-cadastradas">Consultas Cadastradas</h2>

							<table id="table-consultas"
								class="table table-sm table-striped nowrap"
								style="width: 100%">
								<thead class="thead-dark">
									<tr>
										<th scope="col">Paciente</th>
										<th scope="col">Data</th>
										<th scope="col">Término</th>
										<th scope="col">Editar</th>
										<th scope="col">Excluir</th>
										<th scope="col">Visualizar</th>
									</tr>
								</thead>
							</table>
						</div>
					</div>
				</div>
				<a class="btn-cadastrar-usuario" href="#" role="button"
					data-toggle="modal" data-target="#modal-consulta">Nova Consulta</a>
				<span th:replace="consulta/modal :: modal-form"></span>
			
		</main>

	</section>
	<script th:src="@{/js/consulta.js(v=${version})}" th:fragment="js"></script>
	<script th:inline="javascript" th:fragment="inlinescript">
	var consulta = [[${consulta.id}]];
	var data = [[${consulta.data}]];
	var temperat = [[${consulta.temperatura}]];
	var pes = [[${consulta.peso}]];
	$(document).ready(
			function() {
					document.getElementById('datePickerId').min = new Date(
							new Date().getTime()
									- new Date().getTimezoneOffset() * 60000)
							.toISOString().split("T")[0];
				
				
			})
	$("#animal").autocomplete({
		
		source : function(request, response) {

			$.ajax({
				method : "GET",
				url : "/pacientes/titulo",
				data : {
					termo : request.term
				},
				success : function(data) {
	               var newArray = new Array();
	               console.log(data)
	              
	               var i = 0;
	                $.each(data, function (k,v) {
	                    var newObject = {
	                        label: v.nome + " (" + v.cliente.nome +")",
	                    	value: v.nome
	                    };
	                    console.log(newObject)
	                    newArray[i] = newObject;
	                    i++;
	                });

	                response(newArray);
					
					
				}
			})
		
		}
	});
	$(document).ready(function(){
		$("#animal").on('change', function(){
			var animal = $("#animal").val(); 
			$.ajax({
				method : "GET",
				url : "/pacientes/titulo/alergias",
				data : {
					animal : animal
				},
				success : function(data) {
						if(data != ''){
							$(".alerta").fadeIn('slow')
							
							$(".alergias").text(data);
						}else{
							$(".alerta").fadeOut('slow')
							$(".alergias").text("")
						}
					
				}
			})
		})
		if(consulta != null){
			$("#modal-consulta").modal('show');
			$(".modal-title").text("Editar Consulta");
			var teste = $("#temperatura").val();
			var peso = $("#peso").val();
			if(teste != temperat){
				var t =temperat.toString().replace('.', ',');
				$("#temperatura").val(t);
			}
			if(peso != pes){
				var p =pes.toString().replace('.', ',');
				$("#peso").val(p);
			}
			
		}
		if(consulta == null){
			$(".modal-title").text("Nova Consulta");
		}
		if ($("#msg-erro").html() != "") {
			$("#modal-consulta").modal('show');
			if($("#animal").val() == ""){
				$("#animal").addClass('is-invalid');
				$("#erro-animal").show().text("Por favor informe a espécie");
			}
			
			$(".invalid-feedback span").css("color", "red");
		}

		$("#modal-consulta").on("hidden.bs.modal", function() {
			$(".is-invalid").removeClass("is-invalid").removeAttr('style');
			$("#msg-erro").hide();
			$("#modal-consulta").modal('hide');
			$(".alerta").hide()
			$(".alergias").text("")
			
		});
		
		$(".btn-cadastrar-usuario").on("click", function(){
			$(".form-control").val("");
			$(".modal-title").text("Nova Consulta");
			$(".alerta").hide()
			$(".alergias").text("")
		});	
	});	
	</script>
</body>
</html>