@charset "ISO-8859-1";

@import
	url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap')
	;

*{
	font-size: 100%;
	font-family: 'Source Sans Pro', sans-serif;
}
/* 
CSS referente a pagina error e modal-confirm
*/
body{
	background: #f2f2f2
}

h1, h2{
	font-size: 2em;
	margin: 1% 1% 0.5% 1%;
	text-transform: Uppercase;
	font-weight: 600;
	color: #50B969; 
}

h1{
	margin-left:20px;
	margin-bottom:10px
}

h2 {
	margin-left: 0%;
	margin-bottom: 2%
}
.h2-textarea{
	font-size: 2em;
	margin: 2% 1% 0.5% 2%;
	float:left;
	text-transform: Uppercase;
	font-weight: 600;
	color: #50B969; 
}
h5.modal-title {
	color: #04D284;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 1.5em
}

label {
	font-size: 1.1em
}

.form-control{
	border:1px solid #c1c1c1 !important
}
.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 3rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 200;
}

.jumbotron .container {
  max-width: 80rem;
}

/*CARDS DASHBOARD*/

.dashboard-content {
	width: 100%;
	display: flex
}

.cards {
	margin-left: 20px;
	margin-bottom:20px;
	border-radius: 4px;
	width: 25%;
	height: 130px;
	background: #26C685
}

.cards img {
	background-color: white;
	padding: 3%;
	border-radius: 50%;
	margin: 10px;
	float: left
}

.cards p {
	color: white;
	font-weight: 400;
	margin-top: 7%;
	font-size: 1.25em;
}

.cards span {
	font-weight: bold;
	font-size: 1.3em
}


/* -------------- */


footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.modal .modal-body input, .modal .modal-body textarea{
    border: 1px solid #e6e6e6;
    box-shadow: none;
}

.modal-header h4.modal-title {
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}

.modal-body label {
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

/* jQuery loading autocomplete */
.ui-autocomplete-loading {
  background: white url("/image/ui-anim_basic_16x16.gif") right center no-repeat;
}
.ui-autocomplete{
	z-index: 9999999999
}

/*
*/

.layout-content {
	width: 83%;
	float: right;
	margin-top:76px
}
.layout-content span{
	color: white
}

/*
BREADCRUMB
*/
.breadcrumb {
	font-size: 1.1em;
	border-radius: 0;
	
}

ul.breadcrumb li+li:before {
	padding: 8px;
	color: gray;
	content: '\25B8'
}
/*BOTÕES*/
.btn-cadastrar-usuario, .btn-cancelar, .btn-primary {
	border: none;
	font-family: inherit;
	font-size: 1.1em;
	color: #fff;
	background-color: #04D284;
	cursor: pointer;
	padding: 15px 5px;
	width: 20%;
	display: inline-block;
	margin: 1% 1% 2% 1%;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	border-bottom: 4px solid #17b679;
}

.btn-cancelar {
	background-color: #cc0000;
	border-bottom: 4px solid #b30000;
}

button.close {
	background-color: #cc0000
}

.btn-primary:hover, .btn-cadastrar-usuario:hover {
	background: #00cc88 !important;
	text-decoration: none;
	color: white;
	border-bottom: 4px solid #009966
}

.btn-primary:focus {
	background-color: #00b36b !important;
	border-bottom: 4px solid #00b377 !important;
}

/*-------*/
/*NAVBAR*/

.navbar {
	background: linear-gradient(to right, #31E07F, #2AD183, #26C685, #18A98B);
	padding: 0rem
}

.navbar-brand {
	background-color: #2b2b2b;
	width: 230px;
	padding: 0.5rem;
}

.sidenav {
	background: #212121 !important
}

.nav-link {
	font-size: 1.22em;
	margin-left: 1.8%;
}

.nav-link.one {
	margin-top: 2.5%
}

.nav-link i {
	font-size: 0.85em;
}

.nav-link:hover {
	transition: all 0.4s;
}

.nav-link-collapse:after {
	float: right;
	content: '\25BE';
}

.nav-link-collapse[aria-expanded="true"]:after{
	float: right;
	content: '\25B4';
}
.nav-item ul.nav-second-level {
	padding-left: 0;
}

.nav-item ul.nav-second-level>.nav-item {
	padding-left: 20px;
}

form .nav-link {
	display: none
}

@media ( min-width : 992px) {
	.sidenav {
		position: absolute;
		top: 0;
		left: 0;
		width: 230px;
		height: calc(100vh - 3.5rem);
		margin-top: 4.7rem;
		background: #343a40;
		box-sizing: border-box;
		border-top: 1px solid rgba(0, 0, 0, 0.3);
	}
	.navbar-expand-lg .sidenav {
		flex-direction: column;
	}
}

@media ( max-width : 991px) {
	.user-menu img {
		width: 55px;
		height: auto;
		border-radius: 30px;
		display: none
	}
	.user-menu .dropdown-toggle {
		display: none
	}
	form .nav-link {
		display: block
	}
	.navbar {
		padding: 0.5em;
		background: #212121 !important
	}
	.navbar-brand {
		background: none
	}
}
/*      */
i{
	font-size: 0.75em;
	margin-right:5%;
	color:#c1c1c1
}


.bem-vindo-user {
	width: 50%;
	margin-top: 1%;
	font-weight: 600;
}

.user-menu {
	cursor: pointer;
	font-size: 1.4em;
	color: white;
	margin-top: 5px
}

.user-menu img {
margin-top: 2px

}
.wrapper-foto{
	
	width: 55px;
	height: 55px;
	border-radius: 50%;
	overflow: hidden;
	background: white
}

.user-menu .dropdown-toggle {
	margin-top: 14%
}

.form-inline.mt-2.mt-md-0 {
	margin-left: 60%;
	margin-top: 1% !important;
}


/*
TABLE
*/
table{
	border-radius:5px;
	
}
table td{
	font-size: 1.1em;
	
}
.table .thead-dark th {
	border: none;
	font-size: 1.2em;
	padding: 0.5% 0% 0.5% 0.5%;
	
}

th:last-child {
	border-top-right-radius: 5px;
}

th:first-child {
	border-top-left-radius: 5px;
}

table i {
	color: white;
	font-size: 1.2em
}

table .btn-success, table .btn-view, table .btn-danger {
	padding: 6px;
	color: #eee;
	border: none;
	width: 120px;
	margin-right: 8px;
	text-align: center;
	border-radius: 5px;
			display: block;
  margin: auto;
	
}

table .btn-success {
	background-color: #ff9933;
	border-bottom: 2px solid #ff8000;
}

table .btn-success:hover {
	background-color:   #ff8533;
		border-bottom: 2px solid #ff8000;
	
}

table .btn-success:focus{
	background:  #ff9900 !important;
	border-bottom: 2px solid  #e68a00 !important

}


table .btn-view{
	background-color: #04D284;
	border-bottom: 2px solid #50B969
}

table .btn-view:hover{
	background-color:  #00b36b;
	border-bottom: 2px solid #50B969;
	cursor:pointer
}

table .btn-view:focus, .btn-view:focus{
	background-color:  blue !important;
	border-bottom: 2px solid  #e68a00 !important

}

table .btn-danger{
	border-bottom: 2px solid   #cc0000
}

.page-item.active .page-link{
	background:#17b679;
	border:1px solid #17b679
}

#table-usuarios .btn-view, #table-usuarios .btn-danger, #table-usuarios .btn-success{
	width:140px;
	text-align:center;

}
/*CLIENTES ALINHA ITENS*/
.inf-content {
	width: 85%;
	display: flex;
	margin-left: 1%;
	float: left
}

.global-color {
	background: #FAFAFA;
	float: left;
	width: 95%;
	margin-top:1%;
	
		
	margin-left: 2%;
	border-radius: 4px;
	box-shadow: 2px 3px 7px #50B969;
}

#img-infs {
	width: 10%;
	float: left;
	margin: 2% 1%;
	color:
}

.inf-h4 {
	margin: 1.5% 0% 1.5% 1%;
	font-weight: 600;
	font-size: 1.4em;
	color: #5B5A5A;
	float: left;
}

.alinha-dados strong {
	color: #50B969 !important;
	font-size: 1.1em
}

.alinha-dados p>span, .alinha-dados div>span, .alinha-dados strong+p {
	color: black !important;
	font-size: 1.1em
}

.alinha-dados {
	width: 20%;
	margin-left: 1%;
	margin-right: 3%;
	margin-top: 1.2%;
	float: left;
}
.area {
	width: 100%;

}
a{
	width: 100%;
}

.user-btn {
	width: 400px;
	float: left;
	font-size: 1.1em;
	margin-left: .8%
}

.user-btn i {
	margin-left: 10px;
	color: #fff;
	font-size: 1em;
}

.user-btn a {
	background-color: #04D284;
	border-radius: 5px;
	color: white;
	border: none;
	width: 100px;
	padding: 5px;
	margin-right: 10px;
	transition: 2s;
	cursor: pointer;
	margin-top: 15px;
	margin-left: 3%;
	font-size: 1.1em
}

.user-btn a:hover {
	background-color: #50B969;
	text-decoration: none
}

.accordion {
	background-color: #FAFAFA;
	cursor: pointer;
	padding: 18px;
	width: 95%;
	border: none;
	text-align: left;
	outline: none;
	box-shadow: 2px 2px 7px #50B969; font-size : 15px;
	transition: 0.4s;
	transition: 0.4s;
	margin-left: 1%;
	font-size: 15px;
}

.accordion .active, .accordion:hover {
	background-color: #ccc;
}

.accordion:after {
	content: '\002B';
	color: #777;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}

.accordion .active:after {
	content: "\2212";
}

.accordion span {
	color: black;
	font-size: 1.2em;
}

button:focus {
	background: #ccc;
	outline: none !important;
	
}

.panel {
	padding: 0 18px;
	background-color: white;
	max-height: 0;

	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

.clientes-cadastrados::before {
	font-family: "Font Awesome 5 Free";
	content: "\f2b5";
	font-weight: 600;
	display: inline-block;
	margin-right: 1%
}
.consultas-cadastradas::before{
	font-family: "Font Awesome 5 Free";
	content: "\f478";
	font-weight: 600;
	display: inline-block;
	margin-right: 1%
}
.internacoes-cadastradas::before{
	font-family: "Font Awesome 5 Free";
	content: "\f21e";
	font-weight: 600;
	display: inline-block;
	margin-right: 1%
}
.vacinas-cadastradas::before{
	font-family: "Font Awesome 5 Free";
	content: "\f48e";
	font-weight: 600;
	display: inline-block;
	margin-right: 1%
}
.usuarios-cadastrados::before{
	content:"\f0f0";
	font-weight: 600;
	display: inline-block;
	margin-right: 1%;
	font-family: "Font Awesome 5 Free";
}
/*INPUT FILE*/
.js .inputfile {
    width: 0.1px;
   height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
   
    z-index: -1;
}

.inputfile + label {
    max-width: 80%;
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
     margin-left: 5px;
    /* 10px 20px */
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}



.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
} 

.inputfile-6 + label {
    color: #d3394c;
}

.inputfile-6 + label {
    border: 1px solid #04D284;
    background-color: white;
    padding: 0;
    
}

.inputfile-6:focus + label,
.inputfile-6.has-focus + label,
.inputfile-6 + label:hover {
    border-color: #04D284;
     
}

.inputfile-6 + label span,
.inputfile-6 + label strong {
    padding: 0.625rem 1.25rem;
    color: indigo;
    /* 10px 20px */
}

.inputfile-6 + label span {
    width: 200px;
    min-height: 2em;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
}

.inputfile-6 + label strong {
    height: 100%;
    color: #f1e5e6;
    background-color: #04D284;
    display: inline-block;
}

.inputfile-6:focus + label strong,
.inputfile-6.has-focus + label strong,
.inputfile-6 + label:hover strong {
    background-color: #208a15;
}
.por-consulta, .por-paciente{
	display:none
}
/*FORM HORARIOS VETERINARIO */
.form-vet{
	margin-left: 2%
	
}
