/* Individual tab styles */

/*****************************/
/* Flip */
/*****************************/


.tabs-style-flip {
	max-width: 1200px;
}

.tabs-style-flip nav a {
	padding: 0.5em 0;
	color: #2CC185 !important;
	font-size:1.1em;
	font-weight:bold;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
	margin-left:2px
}

.tabs-style-flip nav a i{
	color: #2CC185;
	margin-right:10px;
	}


.tabs-style-flip nav li.tab-current i,
.tabs-style-flip nav li.tab-current a {
	color: white !important;
	text-decoration:none
}

.tabs-style-flip nav a:hover {
	text-decoration:none
}



.tabs-style-flip nav a span {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	
}

.tabs-style-flip nav a::after {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	background-color: #f0f0f0;
	content: '';
	-webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
	transition: transform 0.3s, background-color 0.3s;
	-webkit-transform: perspective(900px) rotate3d(1,0,0,90deg);
	transform: perspective(900px) rotate3d(1,0,0,90deg);
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-perspective-origin: 50% 100%;
	perspective-origin: 50% 100%;
	
}

.tabs-style-flip nav li.tab-current a::after {
	background-color: #17b679;
	-webkit-transform: perspective(900px) rotate3d(1,0,0,0deg);
	transform: perspective(900px) rotate3d(1,0,0,0deg);
	border:1px solid #17b679;

}

.tabs-style-flip .content-wrap {
	background: #fff;	
}