<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>


<style>
.testando span{
	color: purple
}


</style>
</head>
<body>
	<h1>Teste</h1>
	<section class="layout-content" layout:fragment="corpo">
	<div class="testando">
		<p>
			<span th:text="'Há um total de ' + ${#lists.size(animal)} + ' animais cadastrados'"></span>
				
		</p><p>
			<span th:text="'Há um total de ' + ${#lists.size(cliente)} + ' animais cadastrados'"></span>	
		</p>
		<div th:each="c: ${cliente}">
		<span th:text="${c.nome}"></span>
		
		</div>
		</div>

  
		
	<div id="container" >
	
	
	</div>
	</section>
	<script th:src="@{/js/home.js(v=${version})}" th:fragment="js"></script>
	<script th:inline="javascript" th:fragment="inlinescript">
	  $(function(){
		    Highcharts.chart('container', {
		        chart: {
		            type: 'column'
		        },
		        title: {
		            text: 'Pacientes por raça'
		        },
		    
		        xAxis: {
		            categories: [[${surveyMap.keySet()}]],
		            crosshair: true
		        },
		        yAxis: {
		            min: 0,
		            max:50,
		            title: {
		                text: 'Quantidade de pacientes'
		            }
		        },
		        tooltip: {
		            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
		            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
		            '<td style="padding:0"><b>{point.y:1f}</b></td></tr>',
		            footerFormat: '</table>',
		            shared: true,
		            useHTML: true
		        },
		        plotOptions: {
		            column: {
		                pointPadding: 0.2,
		                borderWidth: 0
		            }
		        },
		        series: [{
		            name: 'Pacientes ',
		            data: [[${surveyMap.values()}]]
		        }]
		    });
		    });
	</script>
	
	
</body>
</html>