<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>Vet System - Dashboard</title>


<style>
.testando span {
	color: purple
}

h5 {
	width: 40%;
	float: left
}

#container, #especies {
	display: none
}
</style>
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">
		<div th:replace="fragments/alert :: alerta-sucesso"></div>
		<h1 class="dashboard-h">Dashboard</h1>
		<div class="dashboard-content">


			<div class="cards">
				<img th:src="@{/image/admin-icon.svg}" />
				<p>
					Total de <strong>Admins</strong> cadastrados:<br> <span
						th:text="${totaladm}"> </span>

				</p>


			</div>

			<div class="cards">
				<img th:src="@{/image/vet-icon.svg}" />
				<p>
					Total de <strong> Veterinários</strong> cadastrados:<br> <span
						th:text="${totalvet}"> </span>

				</p>
			</div>


			<div class="cards">
				<img th:src="@{/image/secretary-icon.svg}" />
				<p>
					Total de <strong>Secretárias</strong> cadastradas:<br> <span
						th:text="${totalsec}"> </span>

				</p>
			</div>

		</div>

		<div class="dashboard-content"
			th:if="${(#authorization.expression('!hasAuthority(''ADMIN'')')) 
			|| #authorization.expression('hasAuthority(''ADMIN'')') && #authorization.expression('hasAuthority(''VETERINARIO'')')  
			|| #authorization.expression('hasAuthority(''ADMIN'')') && #authorization.expression('hasAuthority(''SECRETARIA'')')}">
			<div class="cards">
				<img th:src="@{/image/paw.svg}" />
				<p>
					Total de <strong>Animais</strong> cadastrados:<br> <span
						th:text="${#lists.size(animal)}"> </span>

				</p>
			</div>


			<div class="cards">
				<img th:src="@{/image/hands-client.svg}" />
				<p>
					Total de <strong>Clientes</strong> cadastrados:<br> <span
						th:text=" ${#lists.size(cliente)}"> </span>
				</p>
			</div>

			<div class="cards">
				<img th:src="@{/image/heartbeat.svg}" />
				<p>
					Total de <strong>Internações</strong> ativas:<br> <span
						th:text=" ${#lists.size(internacao)}"> </span>
				</p>
			</div>


			<!-- <div th:each="c: ${cliente}">
				<span th:text="${c.nome}"></span>

			</div>-->
		</div>




		<div class="mensagem-home" th:if="${consultasHoje !=null}">
			<strong th:if="${consultasHoje == 0}"> Você não possui
				consultas agendadas para hoje. </strong> <strong
				th:if="${consultasHoje == 1}"
				th:text="'Você possui um total de ' + ${consultasHoje} + ' consulta agendada para hoje.'"></strong>
			<strong th:if="${consultasHoje > 1}"
				th:text="'Você possui um total de ' + ${consultasHoje} + ' consultas agendadas para hoje.'"></strong>
		</div>
		<div class="mensagem-home" th:if="${consultasHojeSec !=null}">
			<strong th:if="${consultasHojeSec == 0}">Não há consultas
				agendadas para hoje.</strong> <strong th:if="${consultasHojeSec == 1}"
				th:text="${consultasHojeSec} + ' consulta está agendada para hoje.'"></strong>

			<strong th:if="${consultasHojeSec > 1}"
				th:text="${consultasHojeSec} + ' consultas estão agendadas para hoje.'"></strong>
		</div>


		<div class="mensagem-home" th:if="${consultasSemana !=null}">
			<strong th:if="${consultasSemana == 1}"
				th:text="'Essa semana possui um total de ' + ${consultasSemana} + ' consulta agendada.'"></strong>
			<strong th:if="${consultasSemana > 1}"
				th:text="'Essa semana possui um total de ' + ${consultasSemana} + ' consultas agendadas.'"></strong>
			<strong th:if="${consultasSemana == 0}"
				th:text="'Essa semana não possui consultas agendadas.'"></strong>
		</div>



		<!-- <fieldset>
			<form>

				<legend> Filtros </legend>
				<div>
					<input type="checkbox" id="ck-racas" nome="interesse"> <label
						for="ck-racas"> Raças </label>
				</div>
				<div>
					<input type="checkbox" id="ck-especies" name="interesse"> <label
						for="ck-especies"> Espécies </label>
				</div>
			</form>
		</fieldset>  

		<div id="container"></div>
		<div id="especies"></div> -->
	</section>
	<script th:src="@{/js/home.js(v=${version})}" th:fragment="js"></script>
	<script th:inline="javascript" th:fragment="inlinescript">
		
	</script>


</body>
</html>