<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
<style type="text/css">
#table-clientes td:first-child, #table-clientes th:first-child {
	display: none
}
</style>
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">
		<main role="main">
			<div class="album py-5 bg-light">
				<div class="container">

					<div class="row">
						<div class="col-md-12">

							<div th:replace="fragments/alert :: alerta-sucesso"></div>
							<h2>Espécies Cadastradas</h2>

							<table id="table-especies"
								class="table table-sm table-striped table-bordered nowrap"
								style="width: 100%">
								<thead class="thead-dark">
									<tr>
										<th scope="col">Id</th>
										<th scope="col">Nome</th>
										<th scope="col">Editar</th>
										<th scope="col">Excluir</th>
										<th scope="col">Visualizar</th>
									</tr>
								</thead>
							</table>
						</div>
					</div>
				</div>
					<a class="btn-cadastrar-usuario" href="#" role="button"
					data-toggle="modal" data-target="#modal-especie">Nova Espécie</a> <span
					th:replace="especie/modal :: modal-form"></span>
			</div>
		</main>

	</section>
<script th:src="@{/js/especie.js(v=${version})}" th:fragment="js"></script>
	<script th:inline="javascript" th:fragment="inlinescript">
	var especie = [[${especie.id}]];
	$(document).ready(function(){
		if(especie != null){
			$("#modal-especie").modal('show');
			$(".modal-title").text("Editar Espécie");
		}
		if(especie == null){
			$(".modal-title").text("Nova Espécie");
		}
		if ($("#msg-erro").html() != "") {
			
			$("#modal-especie").modal('show');
			$("#msg-erro").css("color", "red");
			$(".is-invalid").css("border", "1px solid red");
		}

		$("#modal-especie").on("hidden.bs.modal", function() {
			$(".is-invalid").removeClass("is-invalid").removeAttr('style');
			$("#msg-erro").hide();
			$("#modal-especie").modal('hide');
			
		});
		
		$(".btn-cadastrar-usuario").on("click", function(){
			$(".form-control").val("");
			$(".modal-title").text("Nova Espécie");
		});	
	});	
	
	</script>
</body>
</html>