<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">

		<div th:replace="fragments/alert  :: alerta-sucesso"></div>


		<form
			th:action="@{/veterinarios/salvar}"
			th:object="${veterinario}" method="POST" enctype="multipart/form-data">
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="nome">Nome</label> <input type="text"
						class="form-control" id="nome"
						placeholder="Nome completo"
						th:field="*{nome}"
						th:classappend="${#fields.hasErrors('nome')} ? 'is-invalid'" >
					<div class="invalid-feedback">
						<span th:errors="*{nome}"></span>
					</div>
				</div>
				<div class="form-group col-md-4">
					<label for="sexo">Sexo</label> <select
						th:classappend="${#fields.hasErrors('sexo')} ? 'is-invalid'"
						id="sexo" class="form-control" th:field=*{sexo}>
						<option value="">Selecione</option>
						<option th:value="Masculino" th:text="Masculino"></option>
						<option th:value="Feminino" th:text="Feminino"></option>
					</select>
					<div class="invalid-feedback">
						<span th:errors="*{sexo}"></span>
					</div>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="crmv">Inscrição CRMV</label> <input type="text"
						class="form-control" id="crmv" placeholder="00000"
						th:field="*{crmv}"
						th:classappend="${#fields.hasErrors('crmv')} ? 'is-invalid'" />
					<div class="invalid-feedback">
						<span th:errors="*{crmv}"></span>
					</div>
				</div>
				<div class="form-group col-md-6">
					<label for="telefone">Telefone</label> <input type="text"
						data-mask="(00)0000-00000" class="form-control" id="telefone"
						th:field="*{telefone}"
						th:classappend="${#fields.hasErrors('telefone')} ? 'is-invalid'" />
					<div class="invalid-feedback">
						<span th:errors="*{telefone}"></span>

					</div>
				</div>
			</div>
			<div class="form-row">
				<label for="file">Foto</label>
				<input type="file" id= "file" th:name="file">
			</div>

			<input type="hidden" name="uid" th:field="*{usuario.id}"> <input
				type="hidden" name="id" th:field="*{id}">
				<input type="hidden" id="id" th:field="*{foto.id}" />

			<button type="submit" class="btn btn-primary btn-sm">Salvar</button>
		</form>

	</section>

	<script th:src="@{/js/veterinario.js(v=${version})}" th:fragment="js"></script>
	<script th:inline="javascript" th:fragment="inlinescript">
		
	</script>
</body>
</html>