<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<style>
.is-invalid {
	border: 1px solid red !important;
}
</style>
</head>
<body>

	<!-- Modal -->
	<div th:fragment="modal-form" class="modal fade" id="modal-veterinario"
		tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-lg"
			role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">Editar
						Perfil</h5>
					<div th:if="${aviso == null}">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
				</div>
				<div class="modal-body">
					<span th:text="${erro}" id="msg-erro"></span>
					<div th:if="${aviso != null}">
						<div class="alert alert-danger alert-dismissible fade show"
							role="alert">
							<i class="oi oi-check"></i> <span> <strong
								th:text="${aviso}"></strong>
							</span>
							<button type="button" class="close" data-dismiss="alert"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					</div>
					<form th:action="@{/veterinarios/salvar}"
						th:object="${veterinario}" method="POST"
						enctype="multipart/form-data">
						<div class="form-row">
							<div class="form-group col-md-8">
								<label for="nome">Nome</label> <input type="text"
									class="form-control" id="nome" placeholder="Nome completo"
									th:field="*{nome}"
									th:classappend="${#fields.hasErrors('nome')} ? 'is-invalid'">
								<div class="invalid-feedback">
									<span th:errors="*{nome}"></span>
								</div>
							</div>
							<div class="form-group col-md-4">
								<label for="crmv">Inscrição CRMV</label> <input type="text"
									class="form-control" id="crmv" placeholder="00000"
									th:field="*{crmv}"
									th:classappend="${#fields.hasErrors('crmv')} ? 'is-invalid'" />
								<div class="invalid-feedback">
									<span th:errors="*{crmv}"></span>
								</div>
							</div>
							
						</div>
						<div class="form-row">
							
							<div class="form-group col-md-4">
								<label for="cpf">CPF</label> <input type="text"
									class="form-control" id="cpf" placeholder="CPF"
									data-mask="000.000.000-00" autofocus="autofocus"
									th:field="*{cpf}"
									th:classappend="${#fields.hasErrors('cpf')} ? 'is-invalid'" />
								<div class="invalid-feedback">
									<span th:errors="*{cpf}"></span>
								</div>
							</div>
							<div class="form-group col-md-4">
								<label for="telefone">Telefone</label> <input type="text"
									data-mask="(00)0000-00000" class="form-control" id="telefone"
									th:field="*{telefone}"
									th:classappend="${#fields.hasErrors('telefone')} ? 'is-invalid'" />
								<div class="invalid-feedback">
									<span th:errors="*{telefone}"></span>

								</div>
							</div>
							<div class="form-group col-md-4">
								<label for="sexo">Sexo</label> <select
									th:classappend="${#fields.hasErrors('sexo')} ? 'is-invalid'"
									id="sexo" class="form-control" th:field=*{sexo}>
									<option value="">Selecione</option>
									<option th:value="Masculino" th:text="Masculino"></option>
									<option th:value="Feminino" th:text="Feminino"></option>
								</select>
								<div class="invalid-feedback">
									<span th:errors="*{sexo}"></span>
								</div>
							</div>
						</div>
						<div class="form-row">
							<input type="file" id="file" name="file-7[]" th:name="file" value="Upload"
								class="inputfile inputfile-6" data-multiple-caption="{count} arquivo selecionado"><label for="file" ><span></span>
								<strong><i class="fas fa-upload"></i> Escolha a imagem&hellip;</strong></label>
						</div>

						<input type="hidden" name="uid" th:field="*{usuario.id}">
						<input type="hidden" name="id" th:field="*{id}"> <input
							type="hidden" id="id" th:field="*{foto.id}" />
						<button type="button" class="btn btn-danger  btn-cancelar "
							data-dismiss="modal" id="cancelar-modal">Cancelar</button>
						<button type="submit" class="btn btn-primary btn-sm">Salvar</button>
					</form>
				</div>

			</div>
		</div>
	</div>

</body>
</html>