<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
<style type="text/css">
.teste span {
	color: blue
}

.mostrar {
	background-color: indigo
}

.dias {
	background-color: black;
	!
	important
}

form {
	width: 47.2%
}

.adiciona-tr {
	background: gray;
	opacity: 0.5
}
</style>
</head>

<body>
	<section class="layout-content" layout:fragment="corpo">
		<div th:replace="fragments/alert :: alerta-sucesso"></div>
		<div class=teste>
			<!--  
			<form class="form-inline" method="get"
				th:action="@{/veterinarios/editar/{id} (id=${veterinario.id})}">
				<button class="btn btn-outline-success my-2 my-sm-0" id="edt-vet">Editar</button>
				
			</form>
		-->
			<a class="btn-cadastrar-usuario" href="#" role="button"
				data-toggle="modal" data-target="#modal-veterinario">Editar
				Dados</a> <span th:replace="veterinario/modal :: modal-form"></span> <span
				th:text="${veterinario.nome}"></span> <span
				th:text="${veterinario.sexo}"></span>
		</div>
		<div th:if="${veterinario.foto.fileName == null}">
			<img alt="" th:src="@{/image/pessoa.png}"
				style="width: auto; height: auto">
		</div>
		<div
			th:if="${veterinario.foto!= null && veterinario.foto.fileName != null}">
			<img alt="" th:src="@{${'/uploads/' + veterinario.foto.fileName}}"
				style="width: auto; height: auto">
		</div>
		<form th:if="${form != null}"
			th:action="@{/veterinarios/salvar/horarios}" th:object="${form}"
			method="post">
			<table class="table">
				<thead class="thead-dark">
					<tr>
						<th scope="col">Dia</th>
						<th scope="col">Entrada</th>
						<th scope="col">Saída</th>
						<th scope="col">Folga</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="cargaHoraria, itemStat : *{cargas}">

						<td scope="row" th:switch="${itemStat.index}">
							<div class="dias" th:case="0">
								<span>Domingo</span>
							</div>
							<div class="dias" th:case="1">
								<span>Segunda</span>
							</div>
							<div class="dias" th:case="2">
								<span>Terça</span>
							</div>
							<div class="dias" th:case="3">
								<span>Quarta</span>
							</div>
							<div class="dias" th:case="4">
								<span>Quinta</span>
							</div>
							<div class="dias" th:case="5">
								<span>Sexta</span>
							</div>
							<div class="dias" th:case="6">
								<span>Sábado</span>
							</div>

						</td>

						<td><input class="form-control" type="time"
							th:field="*{cargas[__${itemStat.index}__].inicio}" /></td>
						<td><input class="form-control" type="time"
							th:field="*{cargas[__${itemStat.index}__].fim}" /></td>
						<td style="display: none"><input type="hidden"
							th:field="*{cargas[__${itemStat.index}__].veterinario.id}" /></td>
						<td><input type="checkbox" id="ativo"
							th:field="*{cargas[__${itemStat.index}__].ativo}"
							th:if="${ativo == true ? 'checked=checked' : ''} " /></td>

					</tr>
				</tbody>
			</table>
			<input type="submit" id="submitButton" th:value="Salvar">
		</form>
		<form th:if="${formEdit != null}"
			th:action="@{/veterinarios/salvar/horarios}" th:object="${formEdit}"
			method="post">
			<table class="table">
				<thead class="thead-dark">
					<tr>
						<th scope="col">Dia</th>
						<th scope="col">Entrada</th>
						<th scope="col">Saída</th>
						<th scope="col">Folga</th>

					</tr>
				</thead>
				<tbody>
					<tr th:each="cargaHoraria, itemStat : *{cargas}">

						<td scope="row" th:switch="${itemStat.index}">
							<div class="dias" th:case="0">
								<span>Domingo</span>
							</div>
							<div class="dias" th:case="1">
								<span>Segunda</span>
							</div>
							<div class="dias" th:case="2">
								<span>Terça</span>
							</div>
							<div class="dias" th:case="3">
								<span>Quarta</span>
							</div>
							<div class="dias" th:case="4">
								<span>Quinta</span>
							</div>
							<div class="dias" th:case="5">
								<span>Sexta</span>
							</div>
							<div class="dias" th:case="6">
								<span>Sábado</span>
							</div>

						</td>

						<td><input type="time" class="inicio"
							th:name="|cargas[${itemStat.index}].inicio|"
							th:value="${cargaHoraria.getInicio()}"
							th:classappend="${#fields.hasErrors('cargas[__${itemStat.index}__].inicio')} ? 'is-invalid'" />
						<div class="invalid-feedback">
								<span th:errors="*{cargas[__${itemStat.index}__].inicio}"></span>
							</div></td>
						<td><input type="time" class="fim"
							th:name="|cargas[${itemStat.index}].fim|"
							th:value="${cargaHoraria.getFim()}"
							th:classappend="${#fields.hasErrors('cargas[__${itemStat.index}__].fim')} ? 'is-invalid'" />
							<div class="invalid-feedback">
								<span th:errors="*{cargas[__${itemStat.index}__].fim}"></span>
							</div></td>
						<td style="display: none"><input type="hidden"
							th:name="|cargas[${itemStat.index}].veterinario.id|"
							th:value="${cargaHoraria.getVeterinario().getId()}" /></td>
						<td style="display: none"><input type="hidden"
							th:name="|cargas[${itemStat.index}].id|"
							th:value="${cargaHoraria.getId()}" /></td>
						<td><input type="checkbox"
							th:field="*{cargas[__${itemStat.index}__].ativo}" class="teste"
							id="ativo"
							th:if="${cargaHoraria.isAtivo() == true ? 'checked=checked' : ''} " /></td>
					</tr>
				</tbody>
			</table>
			<input type="submit" id="submitButton" th:value="Salvar">
		</form>
	</section>

	<script th:src="@{/js/veterinario.js(v=${version})}" th:fragment="js"></script>
	<script th:inline="javascript" th:fragment="inlinescript">
	var vet = [[${veterinario.id}]];
	var warning = [[${aviso}]]
	
	$(document).ready(function() {
		$(".btn-cadastrar-usuario").on('click',function(){
			$("#modal-veterinario").modal('show');
			$(".modal-title").text("Editar Dados");
		})
			
		if ($("#msg-erro").html() != "") {
			$("#modal-veterinario").modal('show');
			$("#msg-erro").css("color", "red");
			$(".is-invalid").css("border", "1px solid red");
		}

		$("#modal-veterinario").on("hidden.bs.modal", function() {
			$(".is-invalid").removeClass("is-invalid").removeAttr('style');
			$("#msg-erro").hide();
			$("#modal-veterinario").modal('hide');
			
			
		});
		if(vet == null){
			$(".modal-title").text("Cadastramento de dados");
			$("#modal-veterinario").modal({
				 backdrop: 'static',
				 keyboard: false
				 
			})
		}
		
		$(function(){
			
			 $('.teste').each(function() {
				if($(this).is(":checked")){
					$(this).closest('tr').find('.inicio, .fim').attr("readonly", "readonly");
					$(this).closest('tr').addClass("adiciona-tr");
				}
			 $('.teste').on('change', function(){
					
				if($(this).is(":checked")){
					$(this).closest('tr').find('.inicio, .fim').attr("readonly", "readonly");
					$(this).closest('tr').addClass("adiciona-tr");
				}else{
					if($(this).not(":checked")){
						
						$(this).closest('tr').find('.inicio, .fim').val();
						$(this).closest('tr').removeClass("adiciona-tr");
						$(this).closest('tr').find('.inicio, .fim').removeAttr("readonly");
					}
				}
			 })
			 })
			
			
			
		});
		
			  
		
	
	});
	
	
	
		
	</script>
</body>
</html>