<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
<style type="text/css">
.teste span {
	color: blue
}
</style>
</head>

<body>
	<section class="layout-content" layout:fragment="corpo">
		<div class=teste>
			<form class="form-inline" method="get"
				th:action="@{/veterinarios/editar/{id} (id=${veterinario.id})}">
				<button class="btn btn-outline-success my-2 my-sm-0">Editar</button>
			</form>
			<span th:text="${veterinario.nome}"></span> <span
				th:text="${veterinario.sexo}"></span>
		</div>
		<div th:if="${veterinario.foto.fileName == null}">
			<img alt="" th:src="@{/image/pessoa.png}"
				style="width: auto; height: auto">
		</div>
		<div
			th:if="${veterinario.foto!= null && veterinario.foto.fileName != null}">
			<img alt="" th:src="@{${'/uploads/' + veterinario.foto.fileName}}"
				style="width: auto; height: auto">
		</div>

	</section>

	<script th:src="@{/js/veterinario.js(v=${version})}" th:fragment="js"></script>
	<script th:inline="javascript" th:fragment="inlinescript"></script>
</body>
</html>