<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}"
	class="no-js">
<head>
<meta charset="UTF-8" />
<title>Internações</title>
<style>
#alergias {
	width: 30%;
	height: 25px;
	background-color: white;
	transition: height 2s;
	transition: background-color 1s linear;
}

.ativa {
	color: green;
}

.encerrada {
	color: red
}

#table-internacoes th {
	background: #0cad5d;
}

#table-internacoes {
	background: white;
	border: none;
	box-shadow: 2px 3px 7px gray;
}

</style>
</head>
<body>

	<section class="layout-content" layout:fragment="corpo">
		<main role="main">
			<ul class="breadcrumb">
				<li><a th:href="@{/home}">Dashboard </a></li>
				<li class='active'>Internações</li>
			</ul>
			<div class="container">
				<div class="row">
					<div class="col-md-11">

						<div th:replace="fragments/alert :: alerta-sucesso"></div>
						<h2 class="internacoes-cadastradas">Internações Cadastradas</h2>

						<table id="table-internacoes" class="table table-sm table-striped nowrap"
							style="width: 100%">
							<thead class="thead-dark">
								<tr>
									<th scope="col">Status</th>
									<th scope="col">Paciente</th>
									<th scope="col">Admissão</th>
									<th scope="col">Alta</th>
									<th scope="col" >Editar</th>
									<th scope="col" >Excluir</th>
									<th scope="col">Visualizar</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
			</div>
			<a class="btn-cadastrar-usuario" href="#" role="button"
				data-toggle="modal" data-target="#modal-internacao">Nova
				Internação</a> <span th:replace="internacao/modal :: modal-form"></span>
			


		</main>

	</section>
	<script th:src="@{/js/internacao.js(v=${version})}" th:fragment="js"></script>
	<script th:inline="javascript" th:fragment="inlinescript">
	 var internacao = [[${internacao.id}]];
	 var temperat = [[${internacao.temperatura}]];
		var pes = [[${internacao.peso}]];
		$(document).ready(
				function() {
					document.getElementById('dataEntrada').max = new Date(
							new Date().getTime()
									- new Date().getTimezoneOffset() * 60000)
							.toISOString().split("T")[0];
				})
		$(document).ready(
				function() {
					document.getElementById('dataSaida').min = new Date(
							new Date().getTime()
									- new Date().getTimezoneOffset() * 60000)
							.toISOString().split("T")[0];
				})
		$("#animal").autocomplete({

			source : function(request, response) {
				$.ajax({
					method : "GET",
					url : "/pacientes/titulo",
					data : {
						termo : request.term
					},
					success : function(data) {
			               var newArray = new Array();
			               console.log(data)
			               var i = 0;
			                $.each(data, function (k,v) {
			                    var newObject = {
			                        label: v.nome + " (" + v.cliente.nome +")",
			                    	value: v.nome
			                    };
			                    console.log(newObject)
			                    newArray[i] = newObject;
			                    i++;
			                });

			                response(newArray);
							
							
						}
				})
			}
		});
		$(document).ready(function(){
			if(internacao != null){
				$("#modal-internacao").modal('show');
				$(".modal-title").text("Editar Internação");
				$("#animal").attr('readonly', 'readonly');
				var teste = $("#temperatura").val();
				var peso = $("#peso").val();
				if(teste != temperat){
					var t =temperat.toString().replace('.', ',');
					$("#temperatura").val(t);
				}
				if(peso != pes){
					var p =pes.toString().replace('.', ',');
					$("#peso").val(p);
				}
			}
			if(internacao == null){
				$(".modal-title").text("Nova Internação");
			}
			if ($("#msg-erro").html() != "") {
				$("#modal-internacao").modal('show');
				if($("#animal").val() == ""){
					$("#animal").addClass('is-invalid');
					$("#erro-animal").show().text("Por favor informe a espécie");
				}
				$
				$("#msg-erro").css("color", "red");
				$(".is-invalid").css("border", "1px solid red");
			}

			$("#modal-internacao").on("hidden.bs.modal", function() {
				$(".is-invalid").removeClass("is-invalid").removeAttr('style');
				$("#msg-erro").hide();
				$("#modal-internacao").modal('hide');
				
			});
			
			$(".btn-cadastrar-usuario").on("click", function(){
				$(".form-control").val("");
				$("#animal").removeAttr('readonly');
				$("#erro-especie").hide();
				$(".modal-title").text("Nova Internação");
			});	
			$('#confirm-modal').on('show.bs.modal', function(){
				$(".modal-title").text("Excluir Internação");
			})
		});	
		
	</script>
</body>
</html>