<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>

	<!-- Modal -->
	<div th:fragment="modal-form" class="modal fade" id="modal-internacao"
		tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-lg"
			role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">Editar
						Cliente</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<span th:text="${erro}" id="msg-erro"></span>
					<form th:action="@{/internacoes/salvar}" method="POST"
						enctype="multipart/form-data" th:object="${internacao}">
						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="animal">Paciente</label> <input type="text"
									class="form-control" id="animal" placeholder="Taz..."
									th:classappend="${#fields.hasErrors('animal.nome')} ? 'is-invalid'"
									th:field="*{animal.nome}" /> <span id="erro-animal"
									style="display: none"></span>
								<div class="invalid-feedback">
									<span th:errors="*{animal.nome}"></span>
								</div>
							</div>
							<div class="form-group col-md-6">
								<label for="status">Status da internação</label> <select
									th:classappend="${#fields.hasErrors('status')} ? 'is-invalid'"
									id="status" class="form-control" th:field=*{status}
									th:name="status">
									<option value="">Selecione</option>
									<option th:value="Ativa">Ativa</option>
									<option th:value="Encerrada">Encerrada</option>
								</select>
								<div class="invalid-feedback">
									<span th:errors="*{status}"></span>
								</div>
							</div>

						</div>
						<div class="form-row entrada">
							<div class="form-group col-md-3">
								<label for="dataEntrada">Data de admissão</label> <input
									class="form-control" type="date" id="dataEntrada"
									th:classappend="${#fields.hasErrors('dataEntrada')} ? 'is-invalid'"
									th:field="*{dataEntrada}" />
								<div class="invalid-feedback">
									<span th:errors="*{dataEntrada}"></span>
								</div>
							</div>
							<div class="form-group col-md-3">
								<label for="inicio">Hora de admissão</label> <input
									class="form-control" type="time" id="inicio"
									th:classappend="${#fields.hasErrors('horaEntrada')} ? 'is-invalid'"
									th:field="*{horaEntrada}" />
								<div class="invalid-feedback">
									<span th:errors="*{horaEntrada}"></span>
								</div>
							</div>
							<div class="form-group col-md-3">
								<label for="peso">Peso</label> <input type="text"
									class="form-control" id="peso" data-mask="##,#"
									 th:field="*{peso}"
									th:classappend="${#fields.hasErrors('peso')} ? 'is-invalid'" />
								<div class="invalid-feedback">
									<span th:errors="*{peso}"></span>
								</div>
							</div>
							<div class="form-group col-md-3">
								<label for="temperatura">Temperatura</label> <input type="text"
									class="form-control" id="temperatura" data-mask="##,#"
									data-mask-reverse="true" th:field="*{temperatura}"
									th:classappend="${#fields.hasErrors('temperatura')} ? 'is-invalid'" />
								<div class="invalid-feedback">
									<span th:errors="*{temperatura}"></span>
								</div>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-12">
								<label for="prescricao">Prescrição</label>
								<textarea class="form-control" id="prescricao"
									autofocus="autofocus" th:field="*{prescricao}"
									th:classappend="${#fields.hasErrors('prescricao')} ? 'is-invalid'"></textarea>
								<div class="invalid-feedback">
									<span th:errors="*{prescricao}"></span>
								</div>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-12">
								<label for="descricao">Anotações</label>
								<textarea class="form-control" id="descricao"
									autofocus="autofocus" th:field="*{descricao}"
									th:classappend="${#fields.hasErrors('descricao')} ? 'is-invalid'"></textarea>
								<div class="invalid-feedback">
									<span th:errors="*{descricao}"></span>
								</div>
							</div>
						</div>
						<div class="form-row">
		
							<p>(Pressione CTRL para selecionar mais de uma imagem).</p>
							<input type="file" name="file-7[]" id="file-7"
								class="inputfile inputfile-6"
								data-multiple-caption="{count} files selected" th:name="files" multiple /> <label
								for="file-7"><span></span> <strong><i class="fas fa-upload"></i> Escolha as imagens&hellip;</strong></label>

						</div>
						<input type="hidden" id="idInternacao" th:field="*{id}" />
						<button type="button" class="btn btn-danger btn-cancelar"
							data-dismiss="modal" id="cancelar-modal">Cancelar</button>
						<button type="submit" class="btn btn-primary btn-sm">Salvar</button>
					</form>

				</div>

			</div>
		</div>
	</div>

</body>
</html>