<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
<style>
#table-fotos td {
	text-align: center;
	vertical-align: middle;
}

#table-fotos td:first-child {
	
}

.pop {
	width: 250px;
	height: auto
}

.popover-body {
	width: 300px;
}
</style>
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">
		<ul id="por-consulta" class="breadcrumb por-consulta">
			<li><a th:href="@{/home}">Dashboard </a></li>
			<li><a th:href="@{/internacoes/listar}">Internações</a></li>
			<li class="active"><span
				th:text="'Internação do ' + ${internacao.animal.nome}"></span></li>
		</ul>
		<ul id="por-paciente" class="breadcrumb por-paciente">
			<li><a th:href="@{/home}">Dashboard </a></li>
			<li><a th:href="@{/pacientes/listar}">Pacientes</a></li>
			<li><a
				th:href="@{/pacientes/visualizar/{id} (id=${internacao.animal.id})}"><span
					th:text="${internacao.animal.nome}"></span></a></li>
			<li class="active"><span
				th:text="'Internacao do ' + ${internacao.animal.nome}"></span></li>
		</ul>
		<div th:replace="fragments/alert :: alerta-sucesso"></div>
		<div id="imagem" style="display: none">
			<img alt="" th:src="@{/image/animal_default.jpg}">
		</div>
		<h1>Internação</h1>
		<div class="global-color">
			<div id="img-infs">
				<img th:if="${internacao.animal.foto == null}"
					th:src="@{/image/ultrasound.svg}"
					style="width: 120px; height: auto; float: left" /> <img
					th:if="${internacao.animal.foto != null}"
					th:src="@{${'/uploads/' + internacao.animal.foto.fileName}}"
					style="width: 120px; height: auto; float: left" />
			</div>
			<section class="inf-content">
				<div class="alinha-dados">
					<strong>Paciente: </strong>
					<p th:text="${internacao.animal.nome}"></p>
				</div>
				<div class="alinha-dados">
					<strong>Peso: </strong>
					<p th:text="${internacao.peso} + ' Kg'"></p>
				</div>
				<div class="alinha-dados">
					<strong>Temperatura: </strong>
					<p th:text="${internacao.temperatura} + ' ºC'"></p>
				</div>
			</section>
			<section class="inf-content">
				
				<div class="alinha-dados">
					<strong>Status da internação: </strong>
					<p th:text="${internacao.status}"></p>
				</div>

				<div class="alinha-dados">
					<strong>Admissão do paciente: </strong>
					<p
						th:text="${#temporals.format(internacao.dataEntrada, 'dd/MM/yyyy')} + ' às ' + ${internacao.horaEntrada}"></p>
				</div>
				<div class="alinha-dados"
					th:if="${internacao.dataSaida != null && internacao.horaSaida != null}">
					<strong>Alta do paciente: </strong>
					<p
						th:text="${#temporals.format(internacao.dataSaida, 'dd/MM/yyyy')} + ' às ' + ${internacao.horaSaida}"></p>
				</div>
				<div class="alinha-dados"
					th:if="${internacao.dataSaida == null && internacao.horaSaida == null}">
					<strong>Alta do paciente: </strong>
					<p>Internação em andamento</p>
				</div>

			</section>
		</div>

		<h2 class="h2-textarea">Prescrição</h2>
		<div class="global-color">
			<section class="inf-content">
				<div class="alinha-dados area">
					<p th:if="${internacao.prescricao != ''}"
						style='white-space: pre-wrap' th:text="${internacao.prescricao}"></p>
					<p th:if="${internacao.prescricao == ''}">Nenhuma informação
						cadastrada.</p>
				</div>
			</section>
		</div>
		<h2 class="h2-textarea">Anotações</h2>
		<div class="global-color">
			<section class="inf-content">
				<div class="alinha-dados area">
					<p th:if="${internacao.descricao != ''}"
						style='white-space: pre-wrap' th:text="${internacao.descricao}"></p>
					<p th:if="${internacao.descricao == ''}">Nenhuma informação
						cadastrada.</p>

				</div>

			</section>
		</div>


		<div class="container">
			<div class="row">
				<div style="margin-left: 1%" class="col-md-10">


					<h2>Fotos</h2>

					<table id="table-fotos"
						class="table table-sm table-bordered table-striped nowrap"
						style="width: 100%;">
						<thead class="thead-dark">
							<tr>

								<th scope="col">Foto</th>
								<th scope="col">Nome</th>
								<th scope="col">Descricao</th>
								<th scope="col">Editar</th>
								<th scope="col">Excluir</th>
								<th scope="col">Visualizar</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
			<a class="btn-cadastrar-usuario" href="#" role="button"
				data-toggle="modal" data-target="#modal-foto">Nova foto</a> <span
				th:replace="foto/modal :: modal-form"></span>
		</div>

	</section>
	<script th:src="@{/js/internacao.js(v=${version})}" th:fragment="js"></script>
	<script th:inline="javascript" th:fragment="inlinescript">
		var foto = [[${fotoInternacao.id}]];
		
		var idInternacao = [[${internacao.id}]];
		var del = $('.ck-fotos').length
		$(document).ready(function(){
			
			if(foto != null){
				$("#modal-foto").modal('show');
				$(".modal-title").text("Editar Foto");
			}
			if(foto == null){
				$(".modal-title").text("Nova Foto");
			}
			if ($("#msg-erro").html() != "") {
				$("#modal-foto").modal('show');
				$("#msg-erro").css("color", "red");
				$("#file").addClass('is-invalid');
				$(".is-invalid").css("border", "1px solid red");
			}

			$("#modal-foto").on("hidden.bs.modal", function() {
				$(".is-invalid").removeClass("is-invalid").removeAttr('style');
				$("#msg-erro").hide();
				$("#modal-foto").modal('hide');
				
			});
			
			$(".btn-cadastrar-usuario").on("click", function(){
				$(".form-control").val("");
				$(".modal-title").text("Nova Foto");
			});
		})
		$(document).ready(function () {
			moment.locale('pt-BR');
   			var table = $('#table-fotos').DataTable({
   				"language":{
   		    		"lengthMenu": "Mostrando _MENU_ registros por páginas",
   		    		"zeroRecords": "Nenhum registro encontrado",
   		            "info": "Mostrando página _PAGE_ de _PAGES_",
   		            "infoEmpty": " ",
   		            "search": "Pesquise: ",
   		            "paginate": {
   		                "first":      "Primeiro",
   		                "last":       "Ultimo",
   		                "next":       "Próximo",
   		                "previous":   "Anterior"
   		            } 
   		    	},
    	  drawCallback: function () {
    		  $('[data-toggle="popover-hover"]').popover({
			      html: true,
			      trigger: 'hover',
			      placement: 'right',
			      container: 'body',
			      content: function () { return '<img class="pop" src="' + $(this).data('img') + '" />'; }
			    });
    	  },
    	searching: true,
    	lengthMenu: [5, 10],
    	order: [ 
    		[ 0, "desc" ]
    		],
        processing: true,
        serverSide: true,
        responsive:true,
        ajax: {
            url: '/internacoes/datatables/fotos/server/' + idInternacao + '',
            data: 'data'
        },
        "columnDefs": [
            { "width": "10%", "targets": [1, 3, 4, 5]}
            
           
          ],
        columns: [
        	
            {orderable: false,
            	data: 'fileName',
            	"render": function(data, type, row){
            		if(row.nome != null){
                	  return '<a href="#" data-toggle="popover-hover"  data-img="/uploads/'+data+'" title="'+row.nome + '.' + row.tipo + '"><img src ="/uploads/thumb/'+data+'"/></a>';
            		}else{
                	  return '<a href="#" data-toggle="popover-hover"  data-img="/uploads/'+data+'" title="'+data+'"><img src ="/uploads/thumb/'+data+'"/></a>';
            		}
            	},
            	
            },
            {data: 'fileName',
            	"render": function(data, type, row){
            		if(row.nome != null){
            			return row.nome.length> 10 ?  row.nome.substr( 0, 10 ) + '..' + ' .' + row.tipo: row.nome + ' .' + row.tipo;
            		}else{
            			return data.length > 10 ?  data.substr( 0, 10 ) + '.. ' + '.' + row.tipo: data;
            		}
            		
            	}
            },
            {data: 'descricao',
            	"render": function(data){
            		if(data == null || data ==""){
            			return 'Informação não cadastrada';
            		}else{
            			return data.length > 20 ?  data.substr( 0, 20 ) +'… ': data;
            		}
            		
            	}
            },
            {orderable: false, 
             data: 'id',
                "render": function(id) {
                    return '<a class="btn btn-success btn-sm btn-block" href="/internacoes/editar/foto/'+ 
                    	id +'/internacao/'+ idInternacao +'" role="button"><i class="fas fa-edit"></i></a>';
                }
            },
            {orderable: false,
             data: 'id',
                "render": function(id) {
                    return '<a class="btn btn-danger btn-sm btn-block " href="/internacoes/excluir/foto/'+ 
                    	id +'/internacao/'+ idInternacao +'" role="button" data-toggle="modal" data-target="#confirm-modal"><i class="fas fa-trash-alt"></i></a>';
                }               
            },
            {orderable: false,
                data: 'id',
                   "render": function(id) {
                	   return '<a class="btn btn-success btn-sm btn-block btn-view" href="/internacoes/visualizar/foto/'+ 
                   	id +'" role="button"><i class="fas fa-glasses"></i></a>';
                   }               
               }
        ]
    });
});    
		
	</script>
</body>
</html>
